{% extends 'base/index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>

    <script src="{% static 'proveedor/create.js' %}"></script>


{% endblock %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"> Proveedor Nuevo </h4>
                        {{ formset.media }}
                        <form method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Razón social:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.razon_social}}{{ form.razon_social.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Ruc:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.ruc}} {{ form.ruc.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Dv:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.dv}} {{ form.dv.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Dirección:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.direccion}} {{ form.direccion.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Celular 1:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.celular1}} {{ form.celular1.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Adjuntar CI:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.adjuntoCI}} {{ form.adjuntoCI.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Observación:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.observaciones}} {{ form.constanciaInscripcion.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                          

                            <div class="col-md-6">
                                
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Celular 2:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.celular2}} {{ form.celular2.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Tipo Empresa:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.tipo_empresa}} {{ form.tipo_empresa.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Correo 1:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.email2}} {{ form.email2.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Correo 2:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.email3}} {{ form.email3.errors }}
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Adjuntar Constancia de Inscripcion:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.constanciaInscripcion}} {{ form.constanciaInscripcion.errors }}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="form-row">
                                    <br>
                                    <h4 class="header-title"> Datos de Banco del Proveedor </h4>


                                    <table class="table table-striped jambo_table">
                                        {{ formset.management_form }}
                                        {{ formset.non_form_errors }}
                                        <thead class="thead-dark">
                                            <th>Banco</th>
                                            <th>Numero de cuenta</th>
                                            <th>Titular</th>
                                            <th>Numero de CI</th>
                                            <th>Moneda</th>
                                            <th>Mismo Titular</th>
                                            <th>tipo de cuenta</th>
                                            <th></th>
            
            
                                        </thead>
                                        <tbody>
                                            {% for form in formset %}
                                                {{ form.id }}
                                                <tr class="{{ formset.prefix }}">
                                                    <td>{{ form.banco }} {{ form.banco.errors }}
                                                        
                                                    </td>
                                                    <td>{{ form.num_cuenta }} {{ form.num_cuenta.errors }}</td>
                                                    <td>{{ form.titular }} {{ form.titular.errors }}</td>
                                                    <td>{{ form.num_ci }} {{ form.num_ci.errors }}</td>
                                                    <td>{{ form.moneda }} {{ form.moneda.errors }}</td>
                                                    <td>{{ form.mismo_titular }} {{ form.mismo_titular.errors }}</td>
                                                    <td>{{ form.tipo }} {{ form.tipo.errors }}</td>
                                                    <td>{{ form.DELETE }}</td>
            
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                        {% if formset.non_form_errors %}
                                            {% for error in formset.non_form_errors %}
                                                {{ error|escape }}
                                            {% endfor %} 
                                        {% endif %}
                                </div>
                            
                            </div>   
                            <div class="col" style="float: left;">
                                <button type="submit" class="btn btn-custon-rounded-four btn-info">Guardar</button>
                                <a class="btn btn-custon-rounded-four btn-default" href="{% url 'ProveedoresView' %}">Volver</a>
                            </div> 
                                
                            
                            
                            
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

                   

    
    


{% endblock page_content %}

