{% extends 'base/index.html' %}


{% block page_content %}

    <div class="col-12">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="header-title">Agregar Numero de Timbrado Proveedor </h4>
                <form method="POST" class="needs-validation" novalidate="">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Numero Timbrado:</label>
                            <!-- <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required=""> -->
                            <div class="input-group">
                                {{ form.nrotimbrado}}
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Vencimiento:</label>
                            <!-- <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required=""> -->
                            <div class="input-group">
                                {{ form.fecha}}
                            </div>
                        </div>
                        
                        
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'ProveedoresView' %}" class="btn btn-dark mb-3 float-right" >Cancelar</a>
                            
                            <button class="btn btn-primary mb-3 float-right" style="margin-right: 1em;" type="submit" >Guardar</button>
                        </div>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>


{% endblock page_content %}
{% block js %}



{% endblock js %}
