{% extends 'base/index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}



{% endblock %}
{% block page_content %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Anular Orden de Compra.</h4> 
                        {% if orden.estado == "I" %}
                            La orden ya se encuentra anulada.

                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'OrdenesListado'  id=orden.solicitud.pk %}" class="btn btn-custon-rounded-four  btn-primary" >Volver</a>
                                </div>
                            </div>
                        {% elif orden.recepcionado == True %}
                            La orden ya tiene facturas cargadas.

                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'OrdenesListado' id=orden.solicitud.pk %}" class="btn btn-custon-rounded-four  btn-primary" >Volver</a>
                                </div>
                            </div>
                        {% else %}
                        <form method="POST" enctype="multipart/form-data" class="form">
                            {% csrf_token %}
                                {{ form|crispy }}
                            <div class="col-md-12">
                                <div class="col" style="float: right;">
                                    <a class="btn btn-custon-rounded-four btn-default" href="{% url 'OrdenesListado' id=orden.solicitud.pk %}">Volver</a>

                                    <button type="submit" class="btn btn-custon-rounded-four btn-info">Guardar</button>
                                </div>
                            </div>      
                            
                        </form>
                            
                        {% endif %}
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>


{% endblock page_content %}
{% block js %}

<script type="text/javascript">
   

</script>

{% endblock js %}
