{% extends 'base/index.html' %}

{% load static %}
{% load tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="header-title">Ordenes de compras aprobadas</h3>  
                        <div class="data-tables">
                            <br>

                            <br>
                            <hr>

                            <table class="table table-striped table-hover">
                                <thead>
                                    <th>Orden N°</th>
                                    <th>Solicitud de Compra N°</th>
                                    <th>Fecha de Aprobación</th>
                                    <th>Proveedor</th>
                                    <th>Moneda</th>
                                    <th>Total</th>
                                    <th>Estado Orden</th>
                                    <th >Acciones</th>
                                </thead>
                                <tbody>
                                    {% for item in queryset %}
                                        <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.solicitud.id }}</td>
                                        <td>{{ item.fecha }}</td>
                                        <td>{{ item.presupuesto.proveedor }}</td>
                                        <td>{% moneda_orden item.id %}</td>
                                        <td>{% separar item.total %}</td>
                                        <td>

                                            {% if item.estado == 'I' %}
                                                Orden Anulada
                                            {% else %}
                                                Orden aprobada
                                            {% endif %}
                                    
                                        </td>

    
                                        
                                        <td>
                                            <a href="{% url 'detalles_solicitudCompras' pk=item.solicitud.id %}"  class="btn btn-custon-rounded-four  btn-primary">
                                                Detalles
                                            </a>

                                            <a type="button" href="{% url 'OrdenComprasGenerar' id=item.solicitud.id  presupuesto=item.presupuesto.id %}" target="_blank" class="btn btn-custon-rounded-four  btn-warning">
                                                {% if item.estado == 'I' %}
                                                    Descargar Orden Anulada
                                                {% else %}
                                                Descargar Orden 
                                                {% endif %}    

                                            </a>
                                            {% if item.estado != 'I' %}
                                                <a type="button" href="{% url 'OpcionesAnularOrden' id=item.id %}" class="btn btn-custon-rounded-four  btn-danger">Anular Orden de Compras</a>
                                            {% endif %}  

                                        </td>
                                        </tr>     
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}
<script>
    // Call the dataTables jQuery plugin
    
$(document).ready( function () {
  var table = $('.table').DataTable({
        dom: 'Bfrtilp',
       buttons: [
       
       {
        extend:    'excelHtml5',
        text:      '<i class="fa fa-file-excel-o fa-2x text-success" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a Excel',
        className: 'btn '
      },
      {
        extend:    'pdfHtml5',
        text:      '<i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a PDF',
        className: 'btn'
      },
      
       ],
       language: {
           "lengthMenu": "Mostrar _MENU_ registros",
           "zeroRecords": "No se encontraron resultados",
           "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
           "infoFiltered": "(filtrado de un total de _MAX_ registros)",
           "sSearch": "Buscar:",
           "oPaginate": {
               "sFirst": "Primero",
               "sLast":"Último",
               "sNext":"Siguiente",
               "sPrevious": "Anterior"
      },
      "sProcessing":"Procesando...",
       },
       responsive: true,
       autoWidth: false,
       
   });
  
});
</script>


{% endblock js %}
