{% load static %}
{% load tags %}
{% load numbers_to_letters %}
<html>
    <head>
       <style>
           .cabecera th, td {
                text-align: left; 
                border: #b2b2b2 1px solid;
            }
            .proveedor tr {
                border: 0;

            }
            .proveedor td {border: 0; 
                border-bottom:1px solid #ffffff;
                margin: 2px;
                height: 20;

            }
            .cabecera_tabla th {
                border: #ffffff 1px solid;
                background-color:#ffffff;
                height: 20;
                margin: 1px;
                letter-spacing: 1px;
                

            }
            .cabecera_pedido th {
                border: #0e0d0d 1px solid;
                background-color:#ebf1dc;
                height: 20;
                margin: 1px;
                letter-spacing: 1px;
                

            }
            .detallestr td {border: 0; 
                border-bottom:1px solid #ffffff;
                margin: 2px;
                height: 20;
                font-size:120%;

            }
            .totales td {
                border: 0; 
                font-size:120%;
                margin: 2px;
                height: 20;
            }

       </style>
        <title>Orden de Compras - SGA</title>

    </head>
    <body>
        <div class="card-body">
            <table class="cabecera" style="padding: 0; margin: 0 ;width:auto;">
                <tr style="padding-top: 5px " width="150" height="150">
                    <td width="120" height="120">
                        <center><img src="C:\proyecto\systemproject\media\pictures\item\logo_sga.png" width="120" height="120" ></center>
                        <!-- <h5 align="center">Sistema de Gestión Administrativa.</h5> -->

                    </td>
                    <td valign="top">
                        <h1><center><p>Alquileres Gonzalez</p></center></h1>
                        <h2><center><p>Orden de Compra N° {{cabecera.numero}} </p> </center></h2>
                        <p><B>-RAZÓN SOCIAL:</B> -------</p>
                        <p><B>-RUC:</B>  -----</p>
                        <center><strong>Solicitud de compras N°:</strong> {{cabecera.solicitud.id}} </center>
                        <!-- <center><p style="color: blueviolet;">LAS FACTURAS DEBERAN SER EMITIDAS POR LUGAR DE ENTREGA Y DEBEN ESTAR
                            ACOMPAÑADAS POR UNA COPIA DE LA ORDEN DE COMPRA.</p></center> -->
                    </td>
                </tr>

               
                
            </table>
            <hr> 
            <table  class="proveedor" style="border: None;">
                <TR class="cabecera_tabla">
                    <TH COLSPAN=4 align="center"  style="font-size:150%;">Datos del Proveedor</TH>
                   
                </TR>
                <TR>
                    <td HEIGHT="50%"><strong>RUC:</strong></td> 
                    <td> {{cabecera.presupuesto.proveedor.ruc}} </td> 
                    <td><strong>FECHA:</strong></td> 
                    <td>{{cabecera.fecha}}</td>
                </TR>
                <TR>
                    <TD><strong>RAZON SOCIAL:</strong></TD> 
                    <TD>{{cabecera.presupuesto.proveedor.razon_social}}</TD> 
                    <TD><strong>FORMA DE PAGO:</strong></TD> 
                    <TD>
                        {% if cabecera.presupuesto.forma_pago == "CO" %}  
                            CONTADO
                        {% elif cabecera.presupuesto.forma_pago == "CR15" %}
                            CREDITO 15 DIAS
                        {% elif cabecera.presupuesto.forma_pago == "CR30" %}
                            CREDITO 30 DIAS
                        {% elif cabecera.presupuesto.forma_pago == "CR45" %}
                            CREDITO 45 DIAS
                        {% elif cabecera.presupuesto.forma_pago == "CR60" %}
                            CREDITO 60 DIAS    
                        {% endif %}



                    </TD>
                </TR>
                <TR>
                    <TD><strong>DIRECCIÓN:</strong></TD> 
                    <TD>{{cabecera.presupuesto.proveedor.direccion}}</TD> 
                    <TD><strong>SOLICITANTE:</strong></TD> 
                    <TD>{{cabecera.solicitud.creado_por.first_name}} {{cabecera.solicitud.creado_por.last_name}}</TD>
                </TR>
                <TR>
                    <TD><strong>TELÉFONO:</strong></TD> 
                    <TD>{{cabecera.presupuesto.proveedor.celular1}}</TD> 
                    <TD><strong></strong></TD> 
                    <TD></TD>
                </TR>
            </table>
            <hr>
            <br>
            <table  class="pedido" cellpadding="0" cellspacing="0">
                <thead class="cabecera_pedido">
                    <th>Cantidad</th>
                    <th>Marca</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    {% for form in detalles %}
                        <tr class="detallestr">
                            <td>{{ form.cantidad }} </td>
                            <td>{{ form.item.marca.nombre }} </td>
                            <td>{{ form.item_nombre }}</td>
                            <td ALIGN=right>{% separar form.precio_unitario %}</td>
                            <td ALIGN=right>{% separar form.total %} </td>


                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <hr>
            <table class="totales">
                <TR>
                    <td ><strong>Total en letras:</strong></td> 
                    <td> Guaranies {% numero_letras cabecera.total %}  </td> 
                    <td ><strong>Total en Gs:</strong></td> 
                    <td> {% separar cabecera.total %} </td>
                    
                </TR>
                <TR>
                    <td ><strong>Solicitud de compras N°:</strong></td> 
                    <td> {{cabecera.solicitud.id}}  </td>
                    <td ><strong></strong></td> 
                    <td> </td> 
                    
                    
                </TR>
                
            </table>

        </div>
    </body>
</html>