{% extends 'base/index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Verificación Encargado de Compras</h4>  
                        <div class="col-md-6">

                            <table class="table">
                            <tr>
                                <th>Fecha</th>
                                <td>{{ solicitud.fecha|default_if_none:" " }}</td>
                            </tr>
                            <tr>
                                <th>Motivo</th>
                                <td>{{ solicitud.motivo|default_if_none:" " }}</td>
                            </tr>
                           
                            
                            <tr>
                                <th>Creado por</th>
                                <td>{{ solicitud.creado_por|default_if_none:" " }}</td>
                            </tr>
                            <tr>
                                <th>Creado el</th>
                                <td>{{ solicitud.creado_el|default_if_none:" " }}</td>
                            </tr>
                            <tr>
                                <th>Modificado por</th>
                                <td>{{ solicitud.modificado_por|default_if_none:" " }}</td>
                            </tr>
                            <tr>
                                <th>Modificado el</th>
                                <td>{{ solicitud.modificado_el|default_if_none:" " }}</td>
                            </tr>
                        </table>  
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-6">
                            <form id="formulario" class="form-horizontal" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <table class="table">
                                    {{ form|crispy}}
                                </table>
                                <div class="row">
                                    <div class="col">
                                        
                                        <button class="btn btn-primary mb-3 float-right" style="margin-right: 1em;" type="submit" >Guardar</button>
                                        <a href="{% url 'SolicitudComprasList' %}" class="btn btn-custon-rounded-four btn-default" >Cancelar</a>

                                    </div>
                                </div>
                            </form>
                           
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}


{% endblock js %}
