{% extends 'base/index.html' %}

{% load static %}
{% load tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="header-title">Listado de Órdenes de Compras - Aprobaciónes</h3>  
                        <div class="data-tables">
                            <a href="{% url 'SolicitudComprasList' %}" class="btn btn-custon-rounded-four btn-danger" style="float: right;">Volver al listado de compras</a> 
                            <br>

                            <br>
                            <hr>
                            <div class="alert alert-primary" role="alert">
                                <p> <h3>    
                                    <b>Solicitante: </b>{{ solicitud.creado_por.first_name }} {{ solicitud.creado_por.last_name }}&nbsp;
                                    
                                </h3>   </p>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <th>Solicitud</th>
                                    <th>Proveedor</th>
                                    <th>Fecha</th>
                                    <th>Adjunto</th>
                                    <th>Adjunto</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                    
                                </thead>
                                <tbody>
                                    {% for dato in proordenes %}
                                        <tr>
                                            <th>Solicitud de Compras N° {{ dato.solicitud.pk }}</th>
                                            <th>{{ dato.presupuesto.proveedor }}</th>
                                            <th>{{ dato.fecha }}</th>
                                            <th>{% if dato.solicitud.adjunto %}<a target="_blank" class="btn btn-danger" href="/media/{{ dato.solicitud.adjunto }}">Solicitud Adjunto</a>{% endif %}</th>
                                            <th>{% if dato.presupuesto.adjunto %}<a target="_blank" class="btn btn-danger" href="/media/{{ dato.presupuesto.adjunto }}"> Ver Presupuesto Adjunto</a>{% endif %}</th>
                                            <th>{% separar dato.total %}</th>
                                            <th>
                                                <a target="_blank" class="btn btn-custon-rounded-four  btn-warning"  href="">Ver solicitud N° {{ dato.solicitud.pk }}</a>
                                                <a target="_blank" class="btn btn-custon-rounded-four  btn-primary" href="{% url 'PresupuestosDetalle' pk=dato.presupuesto.pk %}"> Ver Presupuesto </a>
                                                <a href="{% url 'AprobarRechazar' ids=dato.pk solicitud=dato.solicitud.pk accion="A" %}" class="btn btn-custon-rounded-four  btn-success">Aprobar Solicitud</a>
                                                <a href="" class="btn btn-custon-rounded-four  btn-danger">Rechazar Solicitud</a>
                        
                                            </th>
                                        </tr>
                                    {% endfor %}
    
                                </tbody>
                            </table>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}
<script>
    // Call the dataTables jQuery plugin
    
$(document).ready( function () {
  var table = $('.table').DataTable({
        // dom: 'Bfrtilp',
       buttons: [
       
       {
        extend:    'excelHtml5',
        text:      '<i class="fa fa-file-excel-o fa-2x text-success" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a Excel',
        className: 'btn '
      },
      {
        extend:    'pdfHtml5',
        text:      '<i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a PDF',
        className: 'btn'
      },
      
       ],
       language: {
           "lengthMenu": "Mostrar _MENU_ registros",
           "zeroRecords": "No se encontraron resultados",
           "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
           "infoFiltered": "(filtrado de un total de _MAX_ registros)",
           "sSearch": "Buscar:",
           "oPaginate": {
               "sFirst": "Primero",
               "sLast":"Último",
               "sNext":"Siguiente",
               "sPrevious": "Anterior"
      },
      "sProcessing":"Procesando...",
       },
       responsive: true,
       autoWidth: false,
       
   });
  
});
</script>


{% endblock js %}
