{% extends 'base/index.html' %}

{% load static %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"> Detalles de la solicitud </h4>
                        <div class="col-md-12">
                            <div class="col" style="float: right;">
                                <a class="btn btn-custon-rounded-four btn-success" href="{% url 'SolicitudComprasList' %}">Volver</a>
                            </div>
                        </div>   
                        <br>     
                        <br>  
                        <br>  
                        <table class="table">
                            {% for object in cabecera %}
                                <tr>
                                    <th>Solicitud N°</th>
                                    <td>{{ object.id }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha</th>
                                    <td>{{ object.fecha }}</td>
                                </tr>
                                <tr>
                                    <th>Motivo</th>
                                    <td>{{ object.motivo }}</td>
                                </tr>
                                
                                <tr>
                                    <th>Creado por</th>
                                    <td>{{ object.creado_por }}</td>
                                </tr>
                                <tr>
                                    <th>Creado el</th>
                                    <td>{{ object.creado_el }}</td>
                                </tr>
                                <tr>
                                    <th>Modificado por</th>
                                    <td> {{object.modificado_por}} </td>
                                </tr>
                                <tr>
                                    <th>Modificado el</th>
                                    <td>{{ object.modificado_el }}</td>
                                </tr>
                            {% endfor %}
                            
                        </table>   
                        <br>
                        <h4 class="header-title">Detalle del pedido </h4>

                        <div class="form-row">
                            <table class="table table-striped jambo_table">
        
                                <thead class="thead-dark">
                                    <th>Item</th>
                                    <th>Cantidad</th>
                                    <th>Departamento</th>
        
        
                                </thead>
                                <tbody>
                                    {% for form in detalles %}
                                        <tr class="">
                                            <td>{{ form.item }} {{ form.item.errors }}
                                                
                                            </td>
                                            <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>
                                            <td>{{ form.departamento }} {{ form.departamento.errors }}</td>
        
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
        
                        </div>
                        <hr>
                        <br>
                        <h4 class="header-title">Estados de la solicitud </h4>
                        <table class="table table-striped jambo_table">

                            <thead class="thead-dark">
                                <th>Estado</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                                <th>Comentario</th>


    
    
                            </thead>
                            <tbody>
                                {% for estado in estados %}
                                    <tr class="">
                                        <td>
                                            {% if estado.estado == "CPF" %}
                                                CREADO POR FUNCIONARIO
                                            {% elif estado.estado == "MPF" %}
                                                MODIFICADO POR FUNCIONARIO
                                            {% elif estado.estado == "RRRA" %}
                                                RECHAZADO EN REVISION POR RESPONSABLE DE AREA
                                            {% elif estado.estado == "ARRA" %}
                                                APROBADO EN REVISION POR RESPONSABLE DE AREA
                                            {% elif estado.estado == "RREC" %}
                                                RECHAZADO EN REVISION POR ENCARGADO DE COMPRA
                                            {% elif estado.estado == "AREC" %}
                                                APROBADO EN REVISION POR ENCARGADO DE COMPRA
                                            {% elif estado.estado == "PCEC" %}
                                                PRESUPUESTOS CARGADOS POR ENCARGADO DE COMPRA
                                            {% elif estado.estado == "PSEC" %}
                                                PRESUPUESTOS SELECCIONADOS POR ENCARGADO DE COMPRA
                                            {% elif estado.estado == "OCAEP" %}
                                                ORDEN DE COMPRA APROBADA Y ENVIADA A PROVEEDOR
                                            {% elif estado.estado == "OCR" %}
                                                ORDEN DE COMPRA RECHAZA
                                            {% elif estado.estado == "RLR" %}
                                                RECEPCIONADO
                                            {% elif estado.estado == "AEC" %}
                                                ANULADO POR ENCARGADO DE COMPRA
                                            {% elif estado.estado == "GPA" %}
                                                GENERADA POST ANULACION
                                            {% else %}
                                                ESTADO NO IMPLEMENTADO
                                            {% endif %}
 
                                            
                                        </td>
                                        <td>{{ estado.usuario }} </td>
                                        <td>{{ estado.creado_el }}</td>
                                        <td>

                                            {% if estado.comentario %}
                                            {{ estado.comentario }}
                                            {% endif %}
                                        </td>

    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}
{% block js %}



{% endblock js %}
