{% extends 'base/index.html' %}

{% load static %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="header-title">Solicitudes de Compras</h3>  
                        <div class="data-tables">
                            <a href="{% url 'SolicitudComprasCreateUpdate' %}" class="btn btn-custon-rounded-four btn-danger" style="float: right;">Nueva Solicitud</a> 
                            <br>

                            <br>
                            <hr>


                            
                                <form action="" method="get">
                                    <div class="row">
                                        <table class="table table-striped jambo_table">
                                            <thead class="thead-dark">
                                                <th>Desde</th>
                                                <th>Hasta</th>
                                                <th>Estado</th>
                                                <th></th>
                
                
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <td>{{form.desde}}
                                                        
                                                    </td>
                                                    <td>{{form.hasta}}</td>
                                                    <td>
                                                        
                                                        <select class="form-control" id="estado" name="estado">
                                                            <option select value="">---------------------</option>
                                                            <option value="PAEC">PEND. APROB. ENC. DE COMPRA</option>
                                                            <option value="PRS">PEND. REV. DEL SOLICITANTE</option>
                                                            <option value="PCP">PEND. CARGA DE PRESUPUESTOS</option>
                                                            <option value="PSO">PEND. DE SELEC. DE OFERTA</option>
                                                            <option value="PAO">PEND. DE APROB. DE O.C.</option>
                                                            <option value="PAO">PEND. DE APROB. DE DIRECCION</option>

                                                            <option value="PR">PEND. DE RECEPCION</option>
                                                            <option value="RLR">RECEPCIONADO</option>
                                                            <option value="I">ANULADA</option>
                                                        </select>
                                                    </td>
            
                                                    <td> 

                                                        <button  class="btn btn-custon-rounded-four  btn-danger" type="submit"><i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                        </svg></i> Filtrar </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    
                                    </div>
                                </form>

                            <table class="table table-striped table-hover" id="table_id">
                                <thead>
                                    <th>Solictud N°</th>
                                    <th>Solicitante</th>
                                    <th>Fecha solicitud</th>
                                    <th>Motivo solicitud</th>
                                    <th>Estado Solicitud</th>
                                    <th>Acciones</th>
                                </thead>
                                <tbody>
                                    {% for item in obj %}
                                           <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.creado_por }}</td>
                                            <td>{{ item.creado_el }}</td>
                                            <td>{{ item.motivo }}</td>
                                            <td>
                                            {% if item.estado == "PAEC" %}      
                                                PEND. APROB. ENC. DE COMPRA
                                            {% elif item.estado == "PARA" %}
                                                PEND. APROB. ENCARGADO DE AREA
                                            {% elif item.estado == "PCP" %}
                                                PEND. CARGA DE PRESUPUESTOS                                             
                                            {% elif item.estado == "PSO" %}
                                                PEND. DE SELEC. DE OFERTA
                                            {% elif item.estado == "PAO" or item.estado == "PAO"  %}
                                                {% if item.get_falta_ec == True %}
                                                    PEND. DE APROB. DE O.C. ENCARG. COMPRA
                                                {% elif item.get_falta_p == True %}
                                                    PEND. DE APROB. DE Direccion
                                                {% endif %}
                                            {% elif item.estado == "PDA" %}
                                                PEND. DE Aprobacion Dirección

                                            {% elif item.estado == "PR" %}
                                                PEND. DE RECEPCION

                                            {% elif item.estado == "RLR" %}
                                                RECEPCIONADO  
                                            {% elif item.estado ==  "I" %}        
                                                ANULADA     
                                            {% endif %}    


                                            </td>

                                            <td>
                                                <a href="{% url 'detalles_solicitudCompras' pk=item.id %}"  class="btn btn-custon-rounded-four  btn-primary">
                                                    Detalles
                                                </a>
                                                {% for c in roles %}
                                                    {% if c.rol == "EC" and c.estado == 'A' %}
                                                        {% if item.estado == "PAEC" %}
                                                            <a type="button" href="{% url 'RevisionEC' item.id %}"  class="btn btn-custon-rounded-four btn-danger">Verificar E.C.</a>
                                                        {% elif item.estado == "PCP" %}
                                                            <a type="button" href="{% url 'CargaPresupuestosEncargadoComprasView' item.id %}" class="btn btn-custon-rounded-four btn-success">Presupuestos</a>
                                                        
                                                        {% elif item.estado == "PSO" or item.estado == "PR" and item.emitida == False or item.estado == "RLR" and  item.emitida == False %}
                                                            <!-- <a type="button" href="{% url 'CargaPresupuestosEncargadoComprasView' item.id %}" class="btn btn-custon-rounded-four btn-warning">Registrar Presu.</a> -->
                                                            <a type="button" href="{% url 'SeleccionarPresupuestoEC' item.id %}" class="btn btn-custon-rounded-four btn-info">Seleccionar Presu.</a>
                                                        {% endif %}    
                                                    {% endif %}
                                                    {% if item.estado == "PCP" and c.rol == "EC" and c.estado == 'A'  %}
                                                        <a type="button" href="{% url 'AnularSolicitudCompras' item.id %}" class="btn btn-custon-rounded-four btn-danger">Cancelar Solicitud</a>
                                                    {% elif item.estado == "PAO" or item.estado == "PRP" or item.estado == "PAD" and item.get_falta_ec == True or item.get_falta_p == True %}
                                                        {{item.get_falta_ec}}

                                                        {% if c.rol == "EC" and c.estado == 'A' and item.get_falta_ec == True %}
                                                            
                                                            <a type="button" href="{% url 'AprobacionOC' pk=item.id %}" class="btn btn-custon-rounded-four btn-success">Aprobar Orden de Compras</a>
                                                        {% elif  c.rol == "P" and c.estado == 'A' and item.get_falta_p == True  %}    
                                                            <a type="button" href="{% url 'AprobacionOC' pk=item.id %}" class="btn btn-custon-rounded-four btn-success">Aprobar Orden de Compras</a>
                                                        {% endif %}
                                                    {% elif item.estado == "PR" or item.estado == "RLR" and c.rol == "EC" and c.estado == 'True' or c.rol == "P"  %}
                                                    
                                                        <a type="button" href="{% url 'OrdenesListado' id=item.id %}" class="btn btn-custon-rounded-four btn-danger"> Orden de Compra </a>
                                                    {% endif %}

                                                {% endfor %}
                                                {% if user.username == 'admin' and item.estado == "PR"  or item.estado == "RLR" %}
                                                    <a type="button" href="{% url 'OrdenesListado' id=item.id %}" class="btn btn-custon-rounded-four btn-danger"> Orden de Compra </a>
                                                {% endif %}
                                                {% if item.estado == "PARA" and res == 1  %}
                                                    <a href="{% url 'RevisionRA' item.id %}"  class="btn btn-custon-rounded-four  btn-success">Revisión</a>
                                                        
                                                {% endif %}
                                            </td>
                                           </tr>     
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}
<script>
    // Call the dataTables jQuery plugin
    
$(document).ready( function () {
  var table = $('#table_id').DataTable({
        dom: 'Bfrtilp',
       buttons: [
       
       {
        extend:    'excelHtml5',
        text:      '<i class="fa fa-file-excel-o fa-2x text-success" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a Excel',
        className: 'btn '
      },
      {
        extend:    'pdfHtml5',
        text:      '<i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a PDF',
        className: 'btn'
      },
      
       ],
       language: {
           "lengthMenu": "Mostrar _MENU_ registros",
           "zeroRecords": "No se encontraron resultados",
           "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
           "infoFiltered": "(filtrado de un total de _MAX_ registros)",
           "sSearch": "Buscar:",
           "oPaginate": {
               "sFirst": "Primero",
               "sLast":"Último",
               "sNext":"Siguiente",
               "sPrevious": "Anterior"
      },
      "sProcessing":"Procesando...",
       },
       responsive: true,
       autoWidth: false,
       
   });
  
});
</script>


{% endblock js %}
