{% extends 'base/index.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>

    <script src="{% static 'solicitudcompras/create.js' %}"></script>


{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ formset.media }}

                        <h4 class="header-title">Solicitud de compras</h4>
                        
                        <form method="POST" enctype="multipart/form-data" class="form">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Fecha de Solicitud:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.creado_el}}{{ form.creado_el.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br><br>
                            <div class="col-md-12">
                                <div class="form-row">
                                    <table class="table table-striped jambo_table">
                                            {{ formset.management_form }}
                                            {{ formset.non_form_errors }}
                                            <thead class="thead-dark">
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Departamento</th>
                                                <th></th>
                
                
                                            </thead>
                                            <tbody>
                                                {% for form in formset %}
                                                    {{ form.id }}
                                                    <tr class="{{ formset.prefix }}">
                                                        <td>{{ form.item }} {{ form.item.errors }}
                                                            
                                                        </td>
                                                        <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>
                                                        <td>{{ form.departamento }} {{ form.departamento.errors }}</td>
                
                                                        <td>{{ delete }} </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Motivo de Solicitud:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.motivo}}{{ form.motivo.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>    
                            <br> 
                            <br> 
                            <div class="col-md-12">
                                <div class="col" style="float: right;">
                                    <button type="submit" class="btn btn-custon-rounded-four btn-info">Guardar</button>
                                    <a class="btn btn-custon-rounded-four btn-default" href="{% url 'SolicitudComprasList' %}">Volver</a>
                                </div>
                            </div>          
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}

<script>
    $(document).ready(function() {

        $(function() {
            $(".nesteds").formset({
                prefix: "nesteds",
                addText: 'Agregar',
                deleteText: 'Remover',

            });
        
        });



    });

</script>

{% endblock js %}
