{% extends 'base/index.html' %}

{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Anular Solictud de Compras.</h4>
                        <form method="POST" class="needs-validation" novalidate="">
                            {% csrf_token %}
                            <div class="form-row">
                            
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Solicitud N°:</label>
                                    <!-- <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required=""> -->
                                    <div class="input-group">
                                        {{ obj.id}}
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Solicitado por:</label>
                                    <!-- <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required=""> -->
                                    <div class="input-group">
                                        {{ obj.creado_por}}
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Solicitado el:</label>
                                    <!-- <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required=""> -->
                                    <div class="input-group">
                                        {{ obj.creado_el}}
                                    </div>
                                </div>
                            
                            </div> 
                            <br>
                            <br>
                            <br>
                            <div class="form-row">
                                <table class="table table-striped jambo_table">
            
                                    <thead class="thead-dark">
                                        <th>Item</th>
                                        <th>Cantidad</th>

                                        
            
                                    </thead>
                                    <tbody>
                                        {% for form in detalles %}
                                            <tr class="">
                                                <td>{{ form.item_nombre }} 
                                                    
                                                </td>
                                                <td>{{ form.cantidad}} </td>

            
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
            
                            </div>

                        
                                <div class="col">
                                    <a href="{% url 'AnularSolicitudComprasConfirmar' obj.id %}" class="btn btn-custon-rounded-four btn-danger" >Anular</a>
                                    <a href="{% url 'SolicitudComprasList' %}" class="btn btn-custon-rounded-four btn-warning" >Cancelar</a>

                                    <!-- <button class="btn btn-success mb-3 float-right" style="margin-right: 1em;" type="submit" >Guardar</button> -->
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}



{% endblock js %}
