{% extends 'base/index.html' %}

{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Atención!</h4>
                            <center>
                                <i class="fa fa-exclamation fa-5x text-danger" aria-hidden="true"></i>
                                <h3>Este usuario ya tiene un rol asignado.</h3>
                            <br>

                            <div class="col" >
                                <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'RolesListar' %}">Volver</a>
                            </div>
                        </center>     

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}



{% endblock js %}
