{% extends 'base/index.html' %}
{% load static %}

{% block extraheard %}
    <!-- <script src="{% static 'estudio_empresa/update.js' %}"></script> -->
               
{% endblock %}

{% block page_content %}

    <div class="col-12">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="header-title">Aviso</h4>
                    <center>
                        <i class="fa fa-exclamation-circle fa-5x text-danger" aria-hidden="true"></i>
                        <h3>No es posible eliminar este registro, actualmente ya existe datos utilizando esta referencia.</h3>
                    </center>
                    <br>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'ProveedoresView' %}" class="btn btn-dark mb-3 float-right" >Cancelar</a>
                            
                            <!-- <button class="btn btn-primary mb-3 float-right" style="margin-right: 1em;" type="submit" >Guardar</button> -->
                        </div>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>


{% endblock page_content %}
{% block js %}



{% endblock js %}
