{% extends 'base/index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>

    <script src="{% static 'presupuesto/create.js' %}"></script>


{% endblock %}
{% block page_content %}
{{ formset.media }}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Carga de Presupuestos - Encargado de compras</h4> 
                        <input type="hidden" id="cantidad" value="{{ current_item.cantidad }}">
 
                        <div class="single-post mb-xs-40 mb-sm-40">
                            <div class="lts-thumb">
                                <h5> Detalles de solicitud </h5>
                                <table class="table">
                                    <tr>
                                        <th>Fecha</th>
                                        <td>{{ solicitud.fecha|default_if_none:" " }}</td>
                                        <th>Creado por</th>
                                        <td>{{ solicitud.creado_por|default_if_none:" " }} - {{ solicitud.creado_el|default_if_none:" " }}</td>
                                     
                                    </tr>
                                    
                                    <tr>
                                        <th>Motivo</th>
                                        <td colspan="3">{{ solicitud.motivo|default_if_none:" " }}</td>
                                    </tr>
                                </table>
                              
                            </div>
                            
                        </div>
                        <div class="single-post mb-xs-40 mb-sm-40">
                            <div class="lts-thumb">
                                <h5> Producto solicitado. </h5>
                                <table class="table">
                                    <tr>
                                        <th>Producto</th>
                                        <td>{{ current_item.item|default_if_none:" " }}</td>
                                        
                                    </tr>
                                    
                                   
                                </table>
                              
                            </div>
                            
                        </div>
                        <form id="formulario" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
        
                            <table id="detalle_tabla" class="table table-striped jambo_table">
                                {{ formset.management_form }}
                                {{ formset.non_form_errors }}
                                <thead class="table-dark">
                                    <th>Proveedor</th>
                                    <th>Costo</th>
                                    <th>Cantidad</th>
                                    <th>Moneda</th>
                                    <th>Costo Total</th>
                                    <th></th>
                                    <th></th>
        
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        {{ form.id }}
                                        <tr class="{{ formset.prefix }}">
                                            <td>{{ form.proveedor }} {{ form.proveedor.errors }}</td>
                                            <td>{{ form.costo_unitario }} {{ form.costo_unitario.errors }}</td>
                                            <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>
                                            <td>{{ form.moneda }} {{ form.moneda.errors }}</td>
                                            <td><td>
        
                                            <td>{{ form.DELETE }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
            
                            </table>
                            <br>
                            <div class="form-group">
                            <div class="col-sm-10">
                                {% if next_item == None %}
                                    <a type="submit" onclick="finalizar();" class="btn btn-info">Finalizar</a>
                                {% else %}
                                    <a type="submit" onclick="siguiente();" class="btn btn-info">Continuar con el siguiente producto {{next_item.item|default_if_none:" "}} </a>
                                {% endif %}
                                <a href="{% url 'SolicitudComprasList' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                            </div>
        
                            {% if formset.non_form_errors %}
                                {% for error in formset.non_form_errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            
                        </form>
                        
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>


{% endblock page_content %}
{% block js %}

<script type="text/javascript">
    

    $(function() {
        function renewautoNumeric() {
            $('.auto').autoNumeric('destroy');
            $('.auto').autoNumeric('init',{
                mDec:'3',
                aSep: '.',
                aDec: ','
            });
            $('.cantidad').each(function() {
            $( this ).val($('#cantidad').val());
            });
            $( ".cantidad" ).each(function( index ) {
            $( this ).val($( this ).val().split('.').join(','));
            });
        }

        $(".nesteds").formset({
            prefix: "nesteds",
            addText: 'Agregar',
            deleteText: 'Remover',
            // added : renewautoNumeric,

        });


        $('.proveedor').each(function(){
            
            if ($( this ).val() == "" || $( this ).val() == null){

            }else{
                carlos(cv);
                $('#t_conceptos').find('.delete-row').click();

            }
        })
       
        $('.costo_unitario').each(function() {
            if ($( this ).val() == "" || $( this ).val() == null)
                $( this ).val('{{ current_item.item.costo_ultimo }}');
        });
        var cv =('{{ current_item.cantidad}}');   
        // console.log(cv)
        carlos(cv);
        $('.cantidad').each(function() {
        // console.log("hola: ", $('#'+$( this ).attr('id'))[0]);
            subtotal($('#'+$( this ).attr('id'))[0]);
        });

        $("#detalle_tabla").find('.add-row').click(function () {
            console.log("oprimio")
            $('.cantidad').each(function() {
            // console.log("hola: ", $('#'+$( this ).attr('id'))[0]);
                subtotal($('#'+$( this ).attr('id'))[0]);
            });
            
            $('.costo_unitario').each(function() {
                if ($( this ).val() == "" || $( this ).val() == null)
                    $( this ).val('{{ current_item.item.costo_ultimo }}');
            });
            var cv =('{{ current_item.cantidad}}');   
            // console.log(cv)
            carlos(cv);

        })
        

        
    });	   

    // $( document ).ready(function() {
        
        
        
    //     $("#detalle_tabla").find('.add-row').click(function () {
    //         console.log("oprimio")
    //     });

    //     // console.log('{{ current_item.cantidad}}');
        
       
        

       
    // });
   

</script>

{% endblock js %}
