{% extends 'base/index.html' %}

{% load static %}
{% load tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="header-title">Listado de Presupuestos</h3>  
                        <div class="data-tables">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <th>Presupuesto N°</th>
                                    <th>Proveedor</th>
                                    <th>Solicitud Compras N°</th>
                                    <th>Fecha</th>
                                    <th>Validez (Dias)</th>
                                    <th>Condición</th>
                                    <th >Acciones</th>
                                </thead>
                                <tbody>
                                    {% for item in obj %}
                                       <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.proveedor }}</td>
                                        <td>{{ item.solicitud.id }}</td>
                                        <td>{{ item.fecha }}</td>
                                        <td>{{ item.validez }}</td>
                                        <td>
                                            {% if item.forma_pago == "CO" %}  
                                                CONTADO
                                            {% elif item.forma_pago == "CR15" %}
                                                CREDITO 15 DIAS
                                            {% elif item.forma_pago == "CR30" %}
                                                CREDITO 30 DIAS
                                            {% elif item.forma_pago == "CR45" %}
                                                CREDITO 45 DIAS
                                            {% elif item.forma_pago == "CR60" %}
                                                CREDITO 60 DIAS    
                                            {% endif %}
                                        </td>
                                        
                                        <td>
                                            <a href="{% url 'PresupuestosDetalle' item.id %}"  class="btn btn-custon-rounded-four  btn-success">
                                                Ver detalles
                                            </a>
                                        </td>
                                       </tr>     
                                    {% endfor %}
                                </tbody>
                            </table>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}
<script>
    // Call the dataTables jQuery plugin
    
$(document).ready( function () {
  var table = $('.table').DataTable({
        dom: 'Bfrtilp',
       buttons: [
       
       {
        extend:    'excelHtml5',
        text:      '<i class="fa fa-file-excel-o fa-2x text-success" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a Excel',
        className: 'btn '
      },
      {
        extend:    'pdfHtml5',
        text:      '<i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a PDF',
        className: 'btn'
      },
      
       ],
       language: {
           "lengthMenu": "Mostrar _MENU_ registros",
           "zeroRecords": "No se encontraron resultados",
           "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
           "infoFiltered": "(filtrado de un total de _MAX_ registros)",
           "sSearch": "Buscar:",
           "oPaginate": {
               "sFirst": "Primero",
               "sLast":"Último",
               "sNext":"Siguiente",
               "sPrevious": "Anterior"
      },
      "sProcessing":"Procesando...",
       },
       responsive: true,
       autoWidth: false,
       
   });
  
});
</script>


{% endblock js %}
