{% extends 'base/index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>

    <script src="{% static 'presupuesto/create.js' %}"></script>


{% endblock %}
{% block page_content %}
{{ formset.media }}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Presupuestos a registrar - Encargado de compras</h4> 
                        <div class="single-post mb-xs-40 mb-sm-40">
                            <div class="lts-thumb">
                                <h5> Detalles de solicitud </h5>
                                <table class="table">
                                    <tr>
                                        <th>Fecha</th>
                                        <td>{{ solicitud.fecha|default_if_none:" " }}</td>
                                        <th>Creado por</th>
                                        <td>{{ solicitud.creado_por|default_if_none:" " }} - {{ solicitud.creado_el|default_if_none:" " }}</td>
                                     
                                    </tr>
                                    
                                    <tr>
                                        <th>Motivo</th>
                                        <td colspan="3">{{ solicitud.motivo|default_if_none:" " }}</td>
                                    </tr>
                                </table>
                              
                            </div>
                            
                        </div>
                        <form id="formulario" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="table table-striped jambo_table" >
                                {{ formset.management_form }}
                                {{ formset.non_form_errors }}
                                <thead class="table-dark">
                                    <th>Proveedor</th>
                                    <th>Fecha</th>
                                    <th>Validéz</th>
                                    <th>Forma de Pago</th>
                                    <th>Disponibilidad</th>
                                    <th>Adjunto</th>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        {{ form.id }}
                                        <tr class="{{ formset.prefix }}">
                                            <td>{{ form.proveedor_nombre }} {{ form.proveedor_id }} {{ form.proveedor_nombre.errors }}</td>
                                            <td>{{ form.fecha }} {{ form.fecha.errors }}</td>
                                            <td>{{ form.validez }} {{ form.validez.errors }}</td>
                                            <td>{{ form.forma_pago }} {{ form.forma_pago.errors }}</td>
                                            <td>{{ form.disponibilidad }} {{ form.disponibilidad.errors }}</td>
                                            <td>{{ form.adjunto }} {{ form.adjunto.errors }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% if formset.non_form_errors %}
                                {% for error in formset.non_form_errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            <br>
                            <div class="form-group">
                              <div class="col-sm-10">
                                  <input type="submit" value="Finalizar" class="btn btn-info"></input>
                                <a href="{% url 'SolicitudComprasList' %}" class="btn btn-danger">Cancelar</a>
                              </div>
                            </div>
                        </form>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>


{% endblock page_content %}
{% block js %}

<script type="text/javascript">
   

</script>

{% endblock js %}
