{% extends 'base/index.html' %}

{% load static %}
{% load tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="header-title">Detalle de Presupuesto</h3>  
                        <table class="table">
                                <tr>
                                    <th>Fecha</th>
                                    <td>{{ obj.fecha}}</td>
                                    <th>Solicitud Compras N°:</th>
                                    <td>{{ obj.solicitud.id}}</td>
                                    <th>Proveedor</th>
                                    <td>{{ obj.proveedor}}</td>
                                    <th>Validez</th>
                                    <td>{{ obj.validez}} </td>
                                </tr>
                                
                                
                               
                                <tr>
                                    <th>Forma de Pago:</th>
                                    <td> 
                                        {% if obj.forma_pago == "CO" %}  
                                        CONTADO
                                        {% elif obj.forma_pago == "CR15" %}
                                            CREDITO 15 DIAS
                                        {% elif obj.forma_pago == "CR30" %}
                                            CREDITO 30 DIAS
                                        {% elif obj.forma_pago == "CR45" %}
                                            CREDITO 45 DIAS
                                        {% elif obj.forma_pago == "CR60" %}
                                            CREDITO 60 DIAS    
                                        {% endif %}
                                    </td>
                                    <th>Disponibilidad</th>
                                    <td>
                                        {% if obj.disponibilidad == "I" %}  
                                        Inmediata
                                        {% elif obj.disponibilidad == "10" %}
                                            10 DIAS
                                        {% elif obj.disponibilidad == "15" %}
                                                15 DIAS
                                        {% elif obj.disponibilidad == "30" %}
                                            30 DIAS
                                        
                                        {% endif %} 
                                    </td>
                                    <th>Estado</th>
                                    <td>{{ obj.estado }}</td>
                                    <th>Cargado por</th>
                                    <td> {{ obj.creado_por}} - {{ obj.creado_el}}</td>
                                </tr>
                                
                               
                              
                                <tr>
                                    <th>Modificado por</th>
                                    <td>  {{ obj.modificado_por}} - {{ obj.modificado_el}}</td>
                                    
                                </tr>
                            
                        </table>   
                        <br>

                        <table class="table table-striped jambo_table">

                            <thead class="thead-dark">
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Moneda</th>
    
    
    
                            </thead>
                            <tbody>
                                {% for form in detalles %}
                                    <tr class="">
                                        <td>{{ form.item_nombre }} </td>
                                        <td>{{ form.cantidad }}</td>
                                        <td>{{ form.precio_unitario }} </td>
                                        <td>{{ form.moneda }} </td>
                                        
    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="col" style="float: right;">
                            <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'PresupuestosListView' %}">Volver</a>
                        </div>
    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}



{% endblock js %}
