{% extends 'base/index.html' %}

{% load static %}
{% load tags %}

{% load crispy_forms_tags %}
{% block extrahead %}

    <script src="{% static 'proveedor/seleccion_oferta.js' %}"></script>


{% endblock %}
{% block page_content %}
{{ formset.media }}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Seleccionar Presupuesto - Encargado de compras</h4> 
                        <br>
                        <table class="table table-striped jambo_table">
                            <thead >
                                <tr>
                                    <th>Producto</th>
                                    {% for proveedor in proveedores %}
                                        <th data-value="{{ proveedor.pk }}">
                                            {{ proveedor.proveedor }}
                                            <br>
                                            {% if proveedor.validez == "10" %}
                                                Validez: 10 días
                                            {% elif  proveedor.validez == "15" %}
                                                Validez: 15 días
                                            {% else %}
                                                Validez: 30 días
                                            {% endif %}
                                            <br>
                                            {% if proveedor.disponibilidad == "I" %}
                                                Disponibilidad: Inmediata
                                            {% elif proveedor.disponibilidad == "10" %}
                                                Disponibilidad: 10 días
                                            {% elif proveedor.disponibilidad == "15" %}
                                                Disponibilidad: 15 días
                                            {% elif proveedor.disponibilidad == "30" %}
                                                Disponibilidad: 30 días
                                            {% endif %} <br>
                                            {% if proveedor.forma_pago == "CO" %}
                                                Condición: Contado
                                            {% elif  proveedor.forma_pago == "CR15" %}
                                                Condición: Crédito 15 dias
                                            {% elif  proveedor.forma_pago == "CR30" %}
                                                Condición: Crédito 30 dias
                                            {% elif  proveedor.forma_pago == "CR45" %}
                                                Condición: Crédito 45 dias
                                            {% else %}
                                                Condición: Crédito 60 dias
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                    {% if item.poc == "S" %}
                                        <tr>
                                            <td>
                                                {{ item.item_nombre }}
                                            </td>
                                            <td>
                                                {{ item.sede_nombre }}
                                            </td>
                                            <td colspan="{{ colspan }}">
                                                Preorden de Compra - Generada
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>
                                                {{ item.item_nombre }}
                                            </td>
                                            
                                            {% for presupuesto in item.presupuestos %}
                                                {% if not presupuesto.0 == None and presupuesto.2 <= 0 %}
                                                    {% if presupuesto.0.pk == item.mejor %}
                                                        <td class="success" data-value="{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}">
                                                            {% if not presupuesto.0 == None %}
                                                                Gs. {% total presupuesto.0.precio_unitario presupuesto.0.cantidad %} &nbsp; {% if presupuesto.0.moneda == "US" or presupuesto.0.moneda == "DL" %} (U$s {% total presupuesto.0.precio_unitario_extranjera presupuesto.0.cantidad %} ) {% endif %} &nbsp; <input class="check-{{ presupuesto.0.pk }}-{{ presupuesto.0.item.pk }} opcion"  id="check-{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}" type="checkbox" onclick="verificar_check(this);">
                                                            {% endif %}
                                                        </td>
                                                    {% else %}
                                                        <td class="success" data-value="{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}">
                                                            {% if not presupuesto.0 == None %}
                                                                Gs. {% total presupuesto.0.precio_unitario presupuesto.0.cantidad %} &nbsp; {% if presupuesto.0.moneda == "US" or presupuesto.0.moneda == "DL" %} (U$s {% total presupuesto.0.precio_unitario_extranjera presupuesto.0.cantidad %} ) {% endif %} &nbsp; <input class="check-{{ presupuesto.0.pk }}-{{ presupuesto.0.item.pk }} opcion"  id="check-{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}" type="checkbox" onclick="verificar_check(this);">
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                {% else %}
                                                    {% if presupuesto.0.pk == item.mejor %}
                                                        <td class="success" data-value="{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}">
                                                            {% if not presupuesto.0 == None %}
                                                                Gs. {% total presupuesto.0.precio_unitario presupuesto.0.cantidad %} &nbsp; {% if presupuesto.0.moneda == "US" or presupuesto.0.moneda == "DL" %} (U$s {% total presupuesto.0.precio_unitario_extranjera presupuesto.0.cantidad %} ) {% endif %}  <input class="check-{{ presupuesto.0.pk }}-{{ presupuesto.0.item.pk }} opcion" id="check-{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}" type="checkbox" onclick="verificar_check(this);">
                                                            {% endif %}
                                                        </td>
                                                    {% else %}
                                                        <td data-value="{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}">
                                                            {% if not presupuesto.0 == None %}
                                                                Gs. {% total presupuesto.0.precio_unitario presupuesto.0.cantidad %} &nbsp; {% if presupuesto.0.moneda == "US" or presupuesto.0.moneda == "DL" %} (U$s {% total presupuesto.0.precio_unitario_extranjera presupuesto.0.cantidad %} ) {% endif %} &nbsp; <input class="check-{{ presupuesto.0.pk }}-{{ presupuesto.0.item.pk }} opcion" id="check-{{ presupuesto.0.presupuesto.pk }}-{{ presupuesto.0.item.pk }}-{{ presupuesto.0.pk }}" type="checkbox" onclick="verificar_check(this);">
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-sm-10">
                              <a href="#" onclick="guardar();" class="btn btn-success">Guardar</a>
                              <a href="{% url 'SolicitudComprasList' %}" class="btn btn-danger">Volver</a>
                            </div>
                        </div>
                        <div class="modal fade modal-default" id="myModal" tabindex="-1"
                            role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-sm" role="document"
                                style="width: 700px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel"></h4>
                                    </div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>
                        {% if mostrar == True %}

                            <div class="modal fade modal-success" id="checkinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title">Atención</h4>
                                </div>
                                <div class="modal-body">
                                <p>El último costo de algunos de los productos, supera el presupuesto disponible.</p>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="$('#checkinfo').modal('hide');"  class="btn btn-default">Aceptar</button>
                                </div>
                            </div>
                            </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                $('#checkinfo').modal("show");
                                });
                            </script>
                        {% endif %}
                        
                        
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>


{% endblock page_content %}
{% block js %}

<script type="text/javascript">
   

</script>

{% endblock js %}
