{% extends 'base/index.html' %}
{% load static %}

{% block extrahead %}



{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Detalles Movimiento</h4>

                            <div class="row">

                                <table class="table">
                                    <tr>
                                        <th>Movimiento N°</th>
                                        <td>{{ object.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha</th>
                                        <td>{{ object.fecha }}</td>
                                    </tr>
                                   
                                    <tr>
                                        <th>Ubicación Origen</th>
                                        <td>{{ object.ubicacion_origen }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ubicación Destino</th>
                                        <td>{{ object.ubicacion_destino }}</td>
                                    </tr>
                                    <tr>
                                        <th>Comentario</th>
                                        <td>{{ object.observacion }}</td>
                                    </tr>
                                    <tr>
                                        <th>Creado por</th>
                                        <td>{{ object.creado_por }}</td>
                                    </tr>
                                    <tr>
                                        <th>Creado el</th>
                                        <td>{{ object.creado_el }}</td>
                                    </tr>
                                    <tr>
                                        <th>Modificado por</th>
                                        <td> {{object.modificado_por}} </td>
                                    </tr>
                                   
                                    
                                </table>   
                                
                            </div>
                           
                            <div class="col-md-12">
                                <hr>
                                <br>
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a href="#description">Detalle del Movimiento</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        
                                        <table id="detalle_tabla" class="table table-striped jambo_table scroll">

                                            <thead class="bg-light text-capitalize">
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Comentario</th>
                                            </thead>
                                            <tbody>
                                                {% for detalle in detalles %}
                                                    <tr >
                                                        <td>
                                                            {{detalle.item}}
                                                        </td>
                                                        <td> {{detalle.cantidad}} </td>
                                                        <td> {{detalle.observacion}} </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>    

                                    </div>
                                </div>
                                <br>
                            <br>
                            <div class="col-md-12">
                                <div class="col" style="float: left;">

                                    <a class="btn btn-custon-rounded-four btn-success" href="{% url 'MSListado' %}">Volver</a>
                                </div> 
                                
                            </div>     
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}
<script type="text/javascript">

    
</script>


{% endblock js %}
