{% extends 'base/index.html' %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/Inputmask/dist/jquery.inputmask.bundle.js' %}"></script>

    <script src="{% static 'movimiento/create.js' %}"></script>


{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Nuevo/Modificar Movimiento</h4>
                        <form method="POST" enctype="multipart/form-data" class="form" id="formulario">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row">

                                    <div class="col-sm-8">
                                        <table class="table"> 
                                            <tr>
                                                <th>Ubicación Origen</th>
                                                <td>
                                                    <select class="form-control" name="ubicacion_origen" id="id_ubicacion_origen" onchange="add_items();" >
                                                        <option value="">----------</option>
                                                        {% for ubicacion in ubicaciones %}
                                                            <option value="{{ ubicacion.id }}">{{ ubicacion.nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <th>Ubicación Destino</th>
                                                <td>
                                                    {{ form.ubicacion_destino}}{{ form.ubicacion_destino.errors }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Comentario</th>
                                                <td>
                                                    {{ form.observacion}}{{ form.observacion.errors }}
                                                </td>
                                            </tr>
                                        </table>
                                        
                                    <br>
                                    
                                </div>

                                <!-- <div class="col-sm-6">
                                    <div class="form-group-inner">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Ubicación Origen:</label>
                                            </div>                                    
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="ubicacion_origen" id="id_ubicacion_origen" onchange="add_items();" >
                                                    <option value="">----------</option>
                                                    {% for ubicacion in ubicaciones %}
                                                        <option value="{{ ubicacion.id }}">{{ ubicacion.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-inner">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="login2 pull-right pull-right-pro">Ubicación Destino:</label>
                                            </div>                                    
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                {{ form.ubicacion_destino}}{{ form.ubicacion_destino.errors }}
                                            </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <div class="form-group-inner">
                                        <br>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Comentario:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.observacion}}{{ form.observacion.errors }}
                                        </div>
                                    </div>
                                </div> -->
                                
                                <br>
                                
                            </div>
                           
                            <div class="col-md-12">
                                <hr>
                                <br>
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a href="#description">Detalle del Movimiento</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        
                                        <table id="detalle_tabla" class="table table-striped jambo_table scroll">
                                            {{ formset.management_form }}
                                            {{ formset.non_form_errors }}
                                            <thead class="bg-light text-capitalize">
                                                <th>Producto</th>
                                                <th>Stock disponible</th>
                                                <th>Cantidad</th>
                                                <th>Comentario</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                {% for detalle in formset %}
                                                    {{ detalle.id }}
                                                    <tr class="inline {{ formset.prefix }}">
                                                        <td>
                                                            {{detalle.item}}
                                                            {{ detalle.item.errors }}
                                                        </td>
                                                        <td>{{detalle.stock_dispobible}} {{ detalle.stock_dispobible.errors }}</td>
                                                        <td> {{detalle.cantidad}} {{ detalle.cantidad.errors }}</td>
                                                        <td> {{detalle.observacion}} {{ detalle.observacion.errors }}</td>
                                                        <td>{{detalle.DELETE}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>    

                                    </div>
                                </div>
                                <br>
                            <br>
                            <div class="col-md-12">
                                <div class="col" style="float: left;">
                                    <a class="btn btn-custon-rounded-four btn-primary" onclick="save();" >Guardar</a>

                                    <a class="btn btn-custon-rounded-four btn-default" href="{% url 'MSListado' %}">Volver</a>
                                </div> 
                                
                            </div>     
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}
<script type="text/javascript">

    $(function () {

        $(".inline.{{ formset.prefix }}").formset({
            prefix: "{{ formset.prefix }}",
            addText: 'Agregar',
            deleteText: 'Remover',

        });

        $("#detalle_tabla").find('.add-row').click(function () {
           add_items();
        })


    });
</script>


{% endblock js %}
