{% extends 'base/index.html' %}
{% load static %}

{% block extraheard %}
  <style>
    .fa-shopping-cart
        {
            color: rgb(0, 119, 255);
        }

        .fa-heart
        {
            color: yellow;
        }
  </style>
{% endblock %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <!-- Textual inputs start -->
                            <div class="col-12 mt-5">
                                <div class="card">
                                    <div class="card-body center">
                                      
                                        <center>
                                            <i class="fa fa-shopping-cart  fa-5x " aria-hidden="true"></i>
                                            <br><br>    
                                            <h2> Modulo de Compras</h2>
                                            <br>
                                        <h3>Hola!</h3>  
                                        <h4 > {{request.user.first_name}} {{request.user.last_name}}</h4></center>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock page_content %}