{% extends 'base/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">{% if obj %} Editar {% else %} Nuevo {% endif %} Grupo</h4>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <form method="POST" enctype="multipart/form-data" class="form">
                                {% csrf_token %}
                                    <table>
                                        {{ form|crispy }}
                                    </table> 
                                    <div class="col" style="float: right;">
                                        <button type="submit" class="btn btn-custon-rounded-four btn-info">Guardar</button>
                                        <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'GrupoListar' %}">Volver</a>
                                    </div>
                                
                                
                                <br>              
                                
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}

{% block js %}



{% endblock js %}