{% extends 'base/index.html' %}

{% load static %}


{% block extrahead %}
   
{% endblock %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Detalles Cuentas a pagar </h4>
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <th>Mes</th>
                                        <td>{{ object.mes }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ejecicio Fiscal</th>
                                        <td>{{ object.ejercicio_fiscal }}</td>
                                    </tr>
                                   
                                    <tr>
                                        <th>Creado por</th>
                                        <td>{{ object.creado_por }}</td>
                                    </tr>
                                    <tr>
                                        <th>Creado el</th>
                                        <td>{{ object.creado_el }}</td>
                                    </tr>
                                    
                                </table>
                                <h4 class="header-title">Detalles</h4>
                                
                            </div>
                            <table id="table_id" class="table table-striped table-hover">

                                <thead class="thead-dark">
                                    <th>Razon Social</th>
                                    <th>Ruc</th>
                                    <th>Factura fisica</th>
                                    <th>Fecha   </th>
                                    <th>Tipo Factura</th>
                                    <th>Monto Exento</th>
                                    <th>Monto Gravado 10</th>
                                    <th>Monto Gravado 5</th>
                                    <th>Monto Impuesto 10</th>
                                    <th>Monto Impuesto 5</th>
                                    <th>Total IVA 10</th>
                                    <th>Total IVA 5</th>
                                    <th>Numero de Factura Recibida</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    {% for estado in detalles %}
                                        <tr class="">
                                            <td>{{ estado.razon_social }}</td>
                                            <td>{{ estado.ruc }} </td>
                                            <td>{{ estado.factura_fisica }}
                                            </td>
                                            <td>{{ estado.fecha }}</td>
                                            <td>
                                                {% if estado.tipo_de_factura == 'C' %}
                                                    Contado
                                                {% else %}
                                                    Credito
                                                {% endif %}    

                                            </td>
                                            <td>{{ estado.monto_exento }}</td>
                                            <td>{{ estado.monto_gravado }}</td>
                                            <td>{{ estado.monto_gravado5 }}</td>
                                            <td>{{ estado.monto_impuesto }}</td>
                                            <td>{{ estado.monto_impuesto5 }}</td>
                                            <td>{{ estado.monto_total10 }}</td>
                                            <td>{{ estado.monto_total5 }}</td>
                                            <td>{{ estado.factura.id }}</td>
                                            <td>{{ estado.saldo }}</td>
        
        
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
        
                          

                            <div class="col" style="float: left;">
                                <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'LibroIvaEgresosList' %}">Volver</a>
                            </div> 
                                
                            
                            
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

                   

    
    


{% endblock page_content %}

