
{% extends 'base/index.html' %}

{% load static %}
{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/Inputmask/dist/jquery.inputmask.bundle.js' %}"></script>

    <script src="{% static 'nota_debito/create.js' %}"></script>


{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Registrar Nota de Debito</h4> 
                        <form method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data" id="formulario">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="">Proveedor:</label>
                                            </div>                                    
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                {{ form.proveedor}} {{ form.proveedor.errors }}
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="">Fecha:</label>
                                            </div>                                    
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                {{ form.fecha}} {{ form.fecha.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-inner">
                                        <div class="row">
                                            
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                <label >Numero credito fisico:</label>
                                            </div>                                    
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                {{ form.numero_debito_fisico}} {{ form.numero_debito_fisico.errors }}
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                <label class="">total:</label>
                                            </div>                                    
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                {{ form.total}} {{ form.total.errors }}
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                <button type="button" class="limpiar btn btn-primary mb-3 float-right" id="limpiar" onclick="limpiar_detalles();">Limpiar Detalles</button>

                                            </div>                                    
                                            
                                           
                                            
                                        </div>
                                    </div>    
                                    <hr>
                                   
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <ul id="myTabedu1" class="tab-review-design">
                                        <li class="active"><a href="#description">listado de Ordenes</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content custom-product-edit">
                                        <div class="product-tab-list tab-pane fade active in" id="description">
                                            <table id="tabla" class="table table-striped jambo_table scroll">
                                    
                                                <thead class="bg-light text-capitalize">
                                                    <th>Agregar</th>
                                                    <th>N° Orden</th>
                                                    <th>Fecha</th>
                                                    <th>Saldo</th>
                                                </thead>
                                                <tbody>
                                                   
                                                </tbody>
                                            </table>     
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-md-12">
                                    <hr>
                                    <br>
                                    <ul id="myTabedu1" class="tab-review-design">
                                        <li class="active"><a href="#description">Detalles</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content custom-product-edit">
                                        <div class="product-tab-list tab-pane fade active in" id="description">
                                            
                                            <table id="detalle_tabla" class="table table-striped jambo_table scroll">
                                                {{ formset.management_form }}
                                                {{ formset.non_form_errors }}
                                                <thead class="bg-light text-capitalize">
                                                    <th>N° Orden</th>
                                                    <th>Item</th>
                                                    <th>Descripción</th>
                                                    <th>Precio Unitario</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                </thead>
                                                <tbody>
                                                    {% for detalle in formset %}
                                                        {{ detalle.id }}
                                                        <tr class="inline {{ formset.prefix }}">
                                                            <td>{{ detalle.orden }} {{ detalle.orden.errors }}</td>
                                                            <td>{{ detalle.item_num }} {{ detalle.item_num.errors }}</td>
                                                            <td>{{ detalle.item }} {{ detalle.item.errors }}</td>
                                                            <td>{{ detalle.monto_unitario }} {{ detalle.monto_unitario.errors }}</td>
                                                            <td>{{ detalle.cantidad }} {{ detalle.cantidad.errors }} {{ concepto.cantidad_maxima }}</td>
                                                            <td>{{ detalle.total }} {{ detalle.total.errors }}</td>

                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>    
 
                                        </div>
                                    </div>
                                    <br>
                                <br>
                                <div class="col-md-12">
                                    <div class="col" style="float: left;">
                                        <a class="btn btn-custon-rounded-four btn-primary" onclick="save();" >Guardar</a>

                                        <a class="btn btn-custon-rounded-four btn-default" href="{% url 'NotaDebitoList' %}">Volver</a>
                                    </div> 
                                    
                                </div>     
                                </div>
                            </div>      
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock page_content %}
{% block js %}
<script type="text/javascript">
    $('#id_mains-fecha').prop( "disabled", true );
    $('#id_mains-total').val(0);
    $('#id_mains-total').prop( "disabled", true );
    $("#limpiar").prop( "disabled", true );
    var tabla = null;

    $(function(){
        var nFilas = $("#detalle_tabla tr").length;
        console.log("filas: ", nFilas);
        // if (nFilas>2){
        //     $("#limpiar").prop("disabled", true );
        // }

        $(".inline.{{ formset.prefix }}").formset({
            prefix: "{{ formset.prefix }}",
            addText: 'Agregar',
            deleteText: 'Remover',

        });
        var borrar = true;
        if (borrar)
            $('#detalle_tabla').find('.delete-row').click();
            $('#detalle_tabla').find('.add-row').hide();
            $('#detalle_tabla').find('.delete-row').hide();


    } )


    $(document).ready(function(){
        
        tabla = $('#tabla').DataTable( {


            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "No se encontraron registros - disculpe",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "decimal":        "",
                "emptyTable":     "No hay registros disponibles en la tabla",
                "infoFiltered":   "(Filtrando de _MAX_ registros)",
                "infoPostFix":    "",
                "thousands":      ",",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": Ordenar en forma ascendente",
                    "sortDescending": ": Ordenar en forma descendente"
                }
            },
            "searching": false,
            "info": false,
            "paging": false,
            columnDefs:[{
                targets: "_all",
                sortable: false
            }],
        });

    })
</script>
    


{% endblock js %}
