
{% extends 'base/index.html' %}

{% load static %}
{% block extrahead %}



{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Detalles Nota de Debito</h4> 
                       
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="">Proveedor:</label>
                                            </div>                                    
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                {{ obj.proveedor}} 
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class="">Fecha:</label>
                                            </div>                                    
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                {{ obj.fecha}} 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group-inner">
                                        <div class="row">
                                            
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                <label >Numero credito fisico:</label>
                                            </div>                                    
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                {{ obj.numero_debito_fisico}} 
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                <label class="">total:</label>
                                            </div>                                    
                                            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                                                {{ obj.total}} 
                                            </div>
                                                                           
                                            
                                           
                                            
                                        </div>
                                    </div>    
                                    <hr>
                                   
                                </div>
                                <br>
                                
                            
                                <div class="col-md-12">
                                    <hr>
                                    <br>
                                    <ul id="myTabedu1" class="tab-review-design">
                                        <li class="active"><a href="#description">Detalles</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content custom-product-edit">
                                        <div class="product-tab-list tab-pane fade active in" id="description">
                                            
                                            <table id="detalle_tabla" class="table table-striped jambo_table scroll">
                                               
                                                <thead class="bg-light text-capitalize">
                                                    <th>N° Orden</th>
                                                    <th>Item</th>
                                                    <th>Descripción</th>
                                                    <th>Precio Unitario</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                </thead>
                                                <tbody>
                                                    {% for detalle in detalles %}
                                                        <tr class="inline {{ formset.prefix }}">
                                                            <td>{{ detalle.orden }}</td>
                                                            <td>{{ detalle.item_num }} </td>
                                                            <td>{{ detalle.item }}</td>
                                                            <td>{{ detalle.monto_unitario }}</td>
                                                            <td>{{ detalle.cantidad }} </td>
                                                            <td>{{ detalle.total }}</td>

                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>    
 
                                        </div>
                                    </div>
                                    <br>
                                <br>
                                <div class="col-md-12">
                                    <div class="col" style="float: left;">
                                        <a class="btn btn-custon-rounded-four btn-default" href="{% url 'NotaDebitoList' %}">Volver</a>
                                    </div> 
                                    
                                </div>     
                                </div>
                            </div>      
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock page_content %}
{% block js %}
<script type="text/javascript">
   
</script>
    


{% endblock js %}
