{% extends 'base/index.html' %}
{% load static %}

{% block extraheard %}
    <script src="{% static 'grupodepartamento/usuario.js' %}"></script>
       
{% endblock %}
{% block page_content %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h2><b>Grupo</b>: {{ grupo }} - <b>Responsable</b>: {{ grupo.responsable }}</h2>    <input type="hidden" value="{{ grupo.pk }}" id="grupo">
                        <input type="hidden" value="{{ usuario.pk }}" id="usuario">
                        <center>

                            <table>
                                <tr>
                                    <th>
                                        Usuarios Disponibles
                                    </th>
                                    <th>
                                        Usuarios del grupo
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 370px;">
                                        <select multiple="multiple" id="id_group_users_all" style="width: 350px;height: 250px">
                        
                                            {% for usuario in usuarios %}
                        
                                                <option value="{{ usuario.id }}">{{ usuario }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td style="width: 350px;">
                                        <select multiple="multiple" id="id_group_users_added" style="width: 350px;height: 250px">
                        
                                            {% for usuario in usuarios_grupo %}
                        
                                                <option value="{{ usuario.id }}">{{ usuario }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;vertical-align: middle;">
                                        <a class="btn btn-info btn-xs" title="Remover Todos" onclick="removeall();"> <i class="fa fa-fast-backward" aria-hidden="true" style="color: white;"></i> </a>
                                        <a class="btn btn-info btn-xs" title="Remover" onclick="remove();"> <i class="fa fa-arrow-left" aria-hidden="true"  style="color: white;"></i> </a>
                                        <a class="btn btn-info btn-xs" title="Agregar" onclick="add();"> <i class="fa fa-arrow-right " aria-hidden="true" style="color: white;"></i> </a>
                                        <a class="btn btn-info btn-xs" title="Agregar Todos" onclick="addall();"> <i class="fa fa-forward" aria-hidden="true" style="color: white;"></i> </a>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            <br>
                            <a onclick="save(this.id);"  class="btn btn-custon-rounded-four btn-primary guardar">Guardar</a>
                            <a href="{% url 'DepartamentoListar' %}" class="btn btn-custon-rounded-four btn-default">Cancelar</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}



{% endblock js %}
