{% extends 'base/index.html' %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/Inputmask/dist/jquery.inputmask.bundle.js' %}"></script>

    <script src="{% static 'adaptacion_stock/create.js' %}"></script>


{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Nuevo/Modificar Adaptación de Stock</h4>
                        <form method="POST" enctype="multipart/form-data" class="form" id="formulario">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-sm-8">
                                    <table class="table"> 
                                        <tr>
                                            <th>Ubicación</th>
                                            <td>
                                                <select class="form-control" name="ubicacion" id="id_ubicacion" >
                                                    <option value="">----------</option>
                                                    {% for ubicacion in ubicaciones %}
                                                        <option value="{{ ubicacion.id }}">{{ ubicacion.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <th>Procedimiento</th>
                                            <td>
                                                {{ form.operacion}}{{ form.operacion.errors }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Comentario</th>
                                            <td>
                                                {{ form.observacion}}{{ form.observacion.errors }}
                                            </td>
                                        </tr>
                                    </table>
                                    
                                <br>
                                
                            </div>
                           
                            <div class="col-md-12">
                                <hr>
                                <br>
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a href="#description">Detalles</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        
                                        <table id="detalle_tabla" class="table table-striped jambo_table scroll">
                                            {{ formset.management_form }}
                                            {{ formset.non_form_errors }}
                                            <thead class="bg-light text-capitalize">
                                                <th style="text-align: center">Item</th>
                                                <th style="text-align: center" id="column_id">Stock Disponible</th>
                                                <th style="text-align: center">Cantidad</th>
                                                <th style="text-align: center">Motivo</th>
                                                <th style="text-align: center"></th>
                                            </thead>
                                            <tbody>
                                                {% for detalle in formset %}
                                                    {{ detalle.id }}
                                                    <tr class="inline {{ formset.prefix }}">
                                                        <td>
                                                            {{detalle.item}}
                                                            {{ detalle.item.errors }}
                                                        </td>
                                                        <td class="column_2">{{detalle.stock_dispobible}} {{ detalle.stock_dispobible.errors }}</td>
                                                        <td> {{detalle.cantidad}} {{ detalle.cantidad.errors }}</td>
                                                        <td> {{detalle.observacion}} {{ detalle.observacion.errors }}</td>
                                                        <td>{{detalle.DELETE}}</td>
                                                    </tr>
                                                {% endfor %}
                                        </table>    

                                    </div>
                                </div>
                                <br>
                            <br>
                            <div class="col-md-12">
                                <div class="col" style="float: left;">
                                    <a class="btn btn-custon-rounded-four btn-primary" onclick="save();" >Guardar</a>

                                    <a class="btn btn-custon-rounded-four btn-default" href="{% url 'AdaptacionStock' %}">Volver</a>
                                </div> 
                                
                            </div>     
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}

<script type="text/javascript">

    $(function () {

        $(".inline.{{ formset.prefix }}").formset({
            prefix: "{{ formset.prefix }}",
            addText: 'Agregar',
            deleteText: 'Remover',

        });

        $("#detalle_tabla").find('.add-row').click(function () {
            add_items();
        })


    });
</script>


{% endblock js %}
