{% extends 'base/index.html' %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/Inputmask/dist/jquery.inputmask.bundle.js' %}"></script>



{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Detalles de Adaptación de Stock</h4>
                        <form method="POST" enctype="multipart/form-data" class="form" id="formulario">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-sm-8">
                                    <table class="table"> 
                                        <tr>
                                            <th>Ubicación</th>
                                            <td>
                                                {{ obj.ubicacion}}
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <th>Procedimiento</th>
                                            <td>
                                                {{ obj.operacion}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Comentario</th>
                                            <td>
                                                {{ obj.observacion}}
                                            </td>
                                        </tr>
                                    </table>
                                    
                                <br>
                                
                            </div>
                           
                            <div class="col-md-12">
                                <hr>
                                <br>
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a href="#description">Detalles</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        
                                        <table id="detalle_tabla" class="table table-striped jambo_table scroll">
                                            
                                            <thead class="bg-light text-capitalize">
                                                <th>Item</th>
                                                <th>Cantidad</th>
                                                <th >Motivo</th>
                                            </thead>
                                            <tbody>
                                                {% for detalle in detalles %}
                                                    <tr >
                                                        <td>
                                                            {{detalle.item}}
                                                        </td>
                                                        <td> {{detalle.cantidad}} </td>
                                                        <td> {{detalle.observacion}} </td>
                                                    </tr>
                                                {% endfor %}
                                        </table>    

                                    </div>
                                </div>
                                <br>
                            <br>
                            <div class="col-md-12">
                                <div class="col" style="float: left;">
                                    <a class="btn btn-custon-rounded-four btn-default" href="{% url 'AdaptacionStock' %}">Volver</a>
                                </div> 
                                
                            </div>     
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}




{% endblock js %}
