{% extends 'base/index.html' %}

{% load static %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"> Detalles de la Factura Proveedor </h4>
 
                        <br>     
                        <br>  
                        <br>  
                        <div class="col-md-6">
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="">Proveedor:</label>
                                    </div>                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        {{ object.proveedor}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label class="">Fecha:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ object.fecha}}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label >Tipo de Moneda:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ object.moneda}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label >Tipo de factura:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {% if object.tipo_de_factura == 'C' %}
                                            CONTADO
                                        {% elif object.tipo_de_factura == 'K' %}
                                            CREDITO
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label >Factura Fisica:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ object.factura_fisica}} 
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label >Timbrado:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ object.nrotimbrado}}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label >Timbrado Venc.:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ object.nrotimbrado_vencimiento}}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group-inner">
                                <div class="row">
                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label >Saldo:</label>
                                    </div>                                    
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        {{ object.saldo_fake}} 
                                    </div>
                                                                     
                                    
                                </div>
                            </div> -->
                           
                           
                           
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Total 5:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_total5}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Grav. 5:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_gravado5}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Iva. 5:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_impuesto5}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Total 10:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_total10}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Grav. 10:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_gravado}}
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Iva. 10:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_impuesto}} 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Monto Exento:</label>
                                    </div>                                    
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.monto_exento}} {{ object.monto_exento.errors }}
                                     
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="form-group-inner">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        <label >Observacion:</label>
                                    </div>  
                                    <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
                                        {{ object.comentario|default_if_none:" "}} 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Detalle de Factura</a></li>
                                <li><a href="#cuotas"> Cuotas de la Factura </a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                            
                                            <br>
                                            <table  id="t_conceptos_nuevo" class="table">

                    
                                                <thead class="bg-light text-capitalize">
                                                    <th>Orden</th>
                                                    <th>Producto</th>
                                                    <th>Monto Unitario</th>
                                                    <th>Cant. Recibida</th>
                                                    <th>Monto (IVA inc.)</th>
                                                    <th>Porcentaje Impuesto</th>
                                                    <th>Monto Impuesto</th>
                    
                    
                                                </thead>
                                                <tbody>
                                                    {% for concepto in conceptos %}
                                                        <tr class="">
                                                            <td>{{ concepto.orden.numero }}/{{ concepto.orden.periodo }}</td>
                                                            <td>{{ concepto.item_producto }} </td>
                                                            <td>{{ concepto.monto_unitario }} {{ concepto.monto_unitario.errors }}</td>
                                                            <td>{{ concepto.cantidad }} {{ concepto.cantidad.errors }} {{ concepto.cantidad_maxima }}</td>
            
                                                            <td>{{ concepto.monto }} {{ concepto.monto.errors }}</td>
                                                            <td>{{ concepto.porcentaje_impuesto }} {{ concepto.porcentaje_impuesto.errors }}</td>
                                                            <td>{{ concepto.monto_impuesto }} {{ concepto.monto_impuesto.errors }}</td>
                                                        </tr>
                                                    {% endfor %}
                    
                                                    
                                                </tbody>
                                            </table>      
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="cuotas">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <br>

                                            <table id="t_cuotas" class="table table-striped jambo_table scroll">

                                                <thead>
                                                    <th>Cuota</th>
                                                    <th>Vencimiento</th>
                                                    <th>Monto</th>
                                                    <th>Saldo</th>
                                                </thead>
                                                <tbody>
                                                    {% for cuota in cuotas %}

                                                        <tr class="">
                                                            <td>{{ cuota.cuota }}</td>
                                                            <td style="position: relative">{{ cuota.fecha_vencimiento }}</td>
                                                            <td>{{ cuota.monto }}</td>
                                                            <td>{{ cuota.saldo }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <br>
                                              
                                        </div>

                                    </div> 
                                       
                                </div>
                                
                            </div>
                            
                            <div class="col-md-12">
                                <div class="col" style="float: left;">

                                    <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'FacturasProveedorList' %}">Volver</a>
                                </div> 
                                
                            </div>   
                             


                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}
{% block js %}



{% endblock js %}
