{% extends 'base/index.html' %}

{% load static %}
{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'js/Inputmask/dist/jquery.inputmask.bundle.js' %}"></script>
    <script src="{% static 'datos/autoNumeric.js' %}"></script>

    <script src="{% static 'facturas_proveedor/create.js' %}"></script>


{% endblock %}
{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Registrar de Facturas Recibidas del Proveedor</h4> 
                        <form method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data" id="formulario">
                            {% csrf_token %}
                            {{ form.media }}
                            <div class="col-md-6">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="">Proveedor:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.proveedor}} {{ form.proveedor.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="">Fecha:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.fecha}} {{ form.fecha.errors }}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Tipo de Moneda:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.moneda}} {{ form.moneda.errors }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Tipo de factura:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.tipo_de_factura}} {{ form.tipo_de_factura.errors }}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Cantidad Cuotas:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.cantidad_cuotas}} {{ form.cantidad_cuotas.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Dias entre cuotas:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.dias_entre_cuotas}} {{ form.dias_entre_cuotas.errors }}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Factura Fisica:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.factura_fisica}} {{ form.factura_fisica.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Timbrado:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.nrotimbrado}} {{ form.nrotimbrado.errors }}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Timbrado Venc.:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.nrotimbrado_vencimiento}} {{ form.nrotimbrado_vencimiento.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label >Saldo:</label>
                                        </div>                                    
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            {{ form.saldo_fake}} {{ form.saldo_fake.errors }}
                                        </div>
                                                                         
                                        
                                    </div>
                                </div>
                               
                                <div class="form-group-inner">
                                    {% if edit == "0" %}
                                        <div class="row">
                                                                            
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <a onclick="gen_cuotas();" class="btn btn-success" >Calcular Cuotas</a>
                                            </div>
                                            
                                        </div>
                                        {% endif %}
                                </div>
                               
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Total 5:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_total5}} {{ form.monto_total5.errors }}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Grav. 5:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_gravado5}} {{ form.monto_gravado5.errors }}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Iva. 5:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_impuesto5}} {{ form.monto_impuesto5.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Total 10:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_total10}} {{ form.monto_total10.errors }}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Grav. 10:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_gravado}} {{ form.monto_gravado.errors }}
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Iva. 10:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_impuesto}} 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Monto Exento:</label>
                                        </div>                                    
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.monto_exento}} {{ form.monto_exento.errors }}
                                            {{ form.monto_impuesto.errors }}
                                            {{ form.fecha_insercion }} {{ form.fecha_modificacion }} 
                                            {{ form.usuario_insercion }} {{ form.usuario_modificacion }}
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <label >Observacion:</label>
                                        </div>  
                                        <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
                                            {{ form.comentario}} {{ form.comentario.errors }}
                                            <input type="hidden" value="{{edit}}" id="edit">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                              
                            <div class="col-md-12">
                                <br>
                                <ul id="myTabedu1" class="tab-review-design">
                                    <li class="active"><a href="#description">Detalle de Factura</a></li>
                                    <li><a href="#cuotas"> Cuotas de la Factura </a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <br>
                                                {% if edit == "0" %}
                                                    <h4 class="header-title"> Ordenes del proveedor</h4>
                                                    <hr>

                                                    <table id="tabla" class="table table-striped jambo_table scroll">
                                        
                                                        <thead class="bg-light text-capitalize">
                                                            <th>Agregar</th>
                                                            <th>N° Orden</th>
                                                            <th>Fecha</th>
                                                            <th>Saldo</th>
                                                        </thead>
                                                        <tbody>
                                                        
                                                        </tbody>
                                                    </table>    
                                                    <br>
                                                    <br>     
                                                    {% endif %}


                                                <!-- <div class="form-group-inner" >
                                                    <div class="row" style="float: right;">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label >Buscar Orden de compras:</label>
                                                        </div>                                    
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            {{ form.busca_oc }} {{ form.busca_oc.errors }}
                                                        </div>
                                                        
                                                    </div>
                                                </div> -->
                                               
                                                <div class="form-group-inner">
                                                    {% if edit == "0" %}
                                                        <div class="row">
                                                                                            
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <button type="button" class="limpiar btn btn-danger mb-3 float-right" id="limpiar" onclick="limpiar_detalles();">Limpiar Detalles y Cuotas Generadas</button>
                                                            </div>
                                                            
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                
                                                <br>
                                                <table  id="t_conceptos_nuevo" class="table">
                                                    {{ form_concepto.management_form }}
                                                    {{ form_concepto.non_form_errors }}
                        
                                                    <thead class="bg-light text-capitalize">
                                                        <th>Orden</th>
                                                        <th>Producto</th>
                                                        <th>Monto Unitario</th>
                                                        <th>Cant. Recibida</th>
                                                        <th>Monto (IVA inc.)</th>
                                                        <th>Porcentaje Impuesto</th>
                                                        <th>Monto Impuesto</th>
                        
                        
                                                    </thead>
                                                    <tbody>
                                                        {% for concepto in form_concepto %}
                                                            {{ concepto.factura }}
                                                            {{ concepto.item }}
                                                            {{ concepto.id }}
                                                            <tr class="inline {{ form_concepto.prefix }}">
                                                                <td>{{ concepto.orden }} {{ concepto.orden.errors }}
                                                                    {{ concepto.orden_nombre }} {{ concepto.orden_nombre.errors }}</td>
                                                                <td>{{ concepto.item_producto }} {{ concepto.item_producto.errors }}
                                                                    {{ concepto.item_nombre }} {{ concepto.item_nombre.errors }}</td>
                                                                <td>{{ concepto.monto_unitario }} {{ concepto.monto_unitario.errors }}</td>
                                                                <td>{{ concepto.cantidad }} {{ concepto.cantidad.errors }} {{ concepto.cantidad_maxima }}</td>
                
                                                                <td>{{ concepto.monto }} {{ concepto.monto.errors }}</td>
                                                                <td>{{ concepto.porcentaje_impuesto }} {{ concepto.porcentaje_impuesto.errors }}</td>
                                                                <td>{{ concepto.monto_impuesto }} {{ concepto.monto_impuesto.errors }}</td>
                                                            </tr>
                                                        {% endfor %}
                        
                                                        
                                                    </tbody>
                                                </table>      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-tab-list tab-pane fade" id="cuotas">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <br>

                                                <table id="t_cuotas" class="table table-striped jambo_table scroll">
                                                    {{ form_cuota.management_form }}
                                                    {{ form_cuota.non_form_errors }}
                                                    <thead>
                                                        <th>Cuota</th>
                                                        <th>Vencimiento</th>
                                                        <th>Monto</th>
                                                        <th>Saldo</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for cuota in form_cuota %}
                                                            {{ cuota.factura }}
                                                            {{ cuota.id }}
                                                            <tr class="inline {{ form_cuota.prefix }}">
                                                                <td>{{ cuota.cuota }} {{ cuota.cuota.errors }}</td>
                                                                <td style="position: relative">{{ cuota.fecha_vencimiento }} {{ cuota.fecha_vencimiento.errors }}</td>
                                                                <td>{{ cuota.monto }} {{ cuota.monto.errors }}</td>
                                                                <td>{{ cuota.saldo }} {{ cuota.saldo.errors }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <br>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                            <label >Total de cuotas:</label>
                                                        </div>                                    
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                            <input type="text" class="form-control auto" disabled id="to_cuotas">
                                                        </div>
                                                        
                                                    </div>
                                                </div>      
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                
                               
                                <br>
                                <br>
                                <div class="col-md-12">
                                    <div class="col" style="float: left;">
                                        <a class="btn btn-custon-rounded-four btn-primary" onclick="guardar();" >Guardar</a>

                                        <a class="btn btn-custon-rounded-four btn-default" href="{% url 'FacturasProveedorList' %}">Volver</a>
                                    </div> 
                                    
                                </div>       


                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page_content %}
{% block js %}
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'moment/min/moment-with-locales.js' %}"></script>
<script>
    $("#limpiar").prop( "disabled", true );

    var cdates = new Date();
    cdates.setDate(cdates.getDate() + parseInt(15))
    var fecha_nuevas = moment(cdates).format('DD/MM/YYYY');
    console.log(fecha_nuevas)
    $('#ocultar-y-mostrar').css('display','none');

    function select_comprobante(dato) {
        if (dato.value == 'V' || dato.value == 'E'){
            document.querySelector('#timbrado').innerText = 'Timbrado Fecha Inicio';
        }
        else{
            document.querySelector('#timbrado').innerText = 'Timbrado Venc.';
        }
    }
    function select_tipo_factura(dato) {
        if (dato.value == 'C' || dato.value == 'K'){
            $('#ocultar-y-mostrar').css('display','block');
        }
        else{
            $('#ocultar-y-mostrar').css('display','none');
        }
    }

    $(function(){
        $('.desa').each(function() {
            $( this ).prop( "disabled", true );
        });
        const edit = $('#edit').val();
        console.log(edit);  
  
        // const urlParams = new URLSearchParams(window.location.search);
        // const edit = edit
        // console.log(edit)
        if (edit == "1"){
            $('#ocultar-y-mostrar').css('display','none');
            $('#t_conceptos').find('.delete-row').click();
        }

        $(".inline.{{ form_concepto.prefix }}").formset({
            prefix: "{{ form_concepto.prefix }}",
            addText: 'Agregar',
            deleteText: 'Remover',
        });
        $(".inline.{{ form_cuota.prefix }}").formset({
            prefix: "{{ form_cuota.prefix }}",
            addText: 'Agregar',
            deleteText: 'Remover',
        });
        $('.add-row').hide();
        if (edit != "1")
            $('.delete-row').click();
        $('.delete-row').hide();



     }  )

</script>


{% endblock js %}
