{% extends 'base/index.html' %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'datos/jquery.formset.js' %}" type="text/JavaScript"></script>

    <script src="{% static 'solicitudcompras/create.js' %}"></script>


{% endblock %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="header-title">Recepcionar Producto en Ubicación</h4>
                        <div class="col-md-12">
                            <form method="POST" class="needs-validation" novalidate="" id="formulario">
                                {% csrf_token %}
                                <table class="table">
                                    <tr>
                                        <th>Orden de compras N°</th>
                                        <td>{{ cabecera.numero }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha de Solicitud</th>
                                        <td>{{ cabecera.fecha }}</td>
                                    </tr>
                                
                                    <tr>
                                        <th>Ubicación</th>
                                        <td>
                                            <select class="form-control" name="deposito" id="deposito_id">
                                                <option value="">----------</option>
                                                {% for depositos in ubicacion %}
                                                    <option value="{{ depositos.id }}">{{ depositos.nombre }}</option>

                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <h4 class="header-title">Detalles</h4>
                                <div class="data-tables">
                                    <table id="detalle_tabla" class="table table-striped jambo_table" >
                                        {{ formset.management_form }}
                                        {{ formset.non_form_errors }}
                                        <thead>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
        
                                            {% for form in formset %}
                                                {{ form.id }}
                                                <tr class="{{ formset.prefix }}">
                                                    <td>
                                                        {{ form.item }} {{ form.item.errors }}
                                                        {{ form.item_nombre }} {{ form.item_nombre.errors }}
                                                    </td>
                                                    <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>
                                                    
                                                    <td>{{ form.DELETE }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% if formset.non_form_errors %}
                                        {% for error in formset.non_form_errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-md-12">
                                    <div class="col" style="float: left;">
                                        <a class="btn btn-custon-rounded-four btn-primary" onclick="save();" >Guardar</a>

                                        <a class="btn btn-custon-rounded-four btn-default" href="{% url 'ProductosRecepcionList' %}">Volver</a>
                                    </div> 
                                    
                                </div>
                            </form>  
                            

                            
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock page_content %}
{% block js %}
 <script>
    $(function() {
        $(".nesteds").formset({
            prefix: "nesteds",
            addText: 'Agregar',
            deleteText: 'Remover',
            added : renewautoNumeric,

        });
        $('.item').prop("readonly", true);
        var borrar = true;
        if (borrar)
            $('#detalle_tabla').find('.add-row').hide();
            $('#detalle_tabla').find('.delete-row').hide();



    });
    function renewautoNumeric() {
        $('.auto').autoNumeric('destroy');
        $('.auto').autoNumeric('init',{
            mDec:'0',
            aSep: '.',
            aDec: ','
        });
    }

    function save(){
       
        if ($('#deposito_id').val() == ''){
            alert('El campo de ubicacion debe de estar completado');
            return;

        }else{
            $('.auto').each(function () {
                $(this).val($(this).val().split('.').join('').split(',').join('.'));
            });
            $('.item').prop("readonly", false);
            $('#formulario').submit();
        }

        
    }


 </script>   


{% endblock js %}
