{% extends 'base/index.html' %}
{% load static %}

{% block extraheard %}
  
{% endblock %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <!-- Textual inputs start -->
                            <div class="col-12 mt-5">
                                <div class="card">
                                    <div class="card-body center">
                                        <center><h2> Fernando App</h2>
                                            <br>
                                        <h3>Hola!</h3>  
                                        <h4 > {{request.user.first_name}} {{request.user.last_name}}</h4></center>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock page_content %}
{% block menu_inicial %}


    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
        <div class="analytics-sparkle-line reso-mg-b-30">
            <a href="/App/compras/compras/?module=compras">
                <div class="analytics-content">
                
                    <center>
                        <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
                        <hr>
                        <span class="text-success"><b><h1>Compras</h1></b></span>
                    </center>
                    
                </div>
            </a>
            
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
        <div class="analytics-sparkle-line reso-mg-b-30">
            <a href="/App/ventas/ventas/?module=ventas">
                <div class="analytics-content">
                
                    <center>
                        <i class="fa fa-shopping-basket fa-4x" aria-hidden="true"></i>
                        <hr>
                        <span class="text-success"><b><h1>Ventas</h1></b></span>
                    </center>
                    
                </div>
            </a>
            
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
        <div class="analytics-sparkle-line reso-mg-b-30">
            <a href="/App/stock/stock/?module=stock">
                <div class="analytics-content">
                
                    <center>
                        <i class="fa fa-archive fa-4x" aria-hidden="true" fa-4x></i>
                        <hr>
                        <span class="text-success"><b><h1>Stock</h1></b></span>
                    </center>
                    
                </div>
            </a>
            
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
        <div class="analytics-sparkle-line reso-mg-b-30">
            <a href="/App/login/login_menu/?module=login" >
                <div class="analytics-content">
                
                    <center>
                        <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
                        <hr>
                        <span class="text-success"><b><h1>Configuraciones</h1></b></span>
                    </center>
                    
                </div>
            </a>
           
        </div>
    </div>
{% endblock menu_inicial %}
{% block js %}
<script>
    $('.sidebar-header').hide()
    $('.left-custom-menu-adp-wrap').hide()
    $('.sidebar').hide()
    
    
</script>

{% endblock js %}