{% extends 'base/index.html' %}

{% load static %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="header-title">Listado de Categorias</h3>  
                        <div class="data-tables">
                            <a href="{% url 'CategoriaCrear' %}" class="btn btn-custon-rounded-four btn-primary" style="float: right;">Agregar Nuevo </a> 
                            <br>

                            <br>
                            <hr>

                            <table class="table table-striped table-hover">
                                <thead>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Nombre Corto</th>
                                    <th>Acciones</th>
                                </thead>
                                <tbody>
                                    {% for item in obj %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>
                                            {{ item.nombre_corto }}
                                        </td>
                                        <td>
                                            <a href="{% url 'CategoriaUpdate' item.id %}"  class="btn btn-custon-rounded-four btn-warning">
                                                Editar
                                            </a>
                                            <a href="{% url 'Categoriadelete' item.id %}"  class="btn btn-custon-rounded-four  btn-danger">
                                                Eliminar
                                            </a>
                                            
                                        </td>
                                       </tr>     
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock page_content %}
{% block js %}
<script>
    // Call the dataTables jQuery plugin
    
$(document).ready( function () {
  var table = $('.table').DataTable({
       dom: 'Bfrtilp',
       buttons: [
       {
          extend:    'copy',
          text:      '<i class="fa fa-clone fa-2x text-info" aria-hidden="true"></i>',
          titleAttr: 'Copiar',
          className: 'btn ',
           
           
       },
       {
        extend:    'excelHtml5',
        text:      '<i class="fa fa-file-excel-o fa-2x text-success" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a Excel',
        className: 'btn '
      },
      {
        extend:    'pdfHtml5',
        text:      '<i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i> ',
        titleAttr: 'Exportar a PDF',
        className: 'btn'
      },
      {
        extend:    'print',
        text:      '<i class="fa fa-print fa-2x text-primary" aria-hidden="true"></i> ',
        titleAttr: 'Imprimir Lista',
        className: 'btn '
            },
            {
        extend:    'colvis',
        text:      '<i class="fa fa-filter fa-2x text-secondary" aria-hidden="true"></i>',
        titleAttr: 'Filtrar',
        className: 'btn ',
           
 },
       ],
       language: {
           "lengthMenu": "Mostrar _MENU_ registros",
           "zeroRecords": "No se encontraron resultados",
           "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
           "infoFiltered": "(filtrado de un total de _MAX_ registros)",
           "sSearch": "Buscar:",
           "oPaginate": {
               "sFirst": "Primero",
               "sLast":"Último",
               "sNext":"Siguiente",
               "sPrevious": "Anterior"
      },
      "sProcessing":"Procesando...",
       },
       responsive: true,
       autoWidth: false,
       
   });
  
});
</script>


{% endblock js %}
