{% extends 'base/index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"> Proveedor Nuevo </h4>
                        {{ form.media }}
                        <form method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="col-md-6">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Nombre completo:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.nombre_largo}}{{ form.nombre_largo.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Nombre Medio:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.nombre_corto}}{{ form.nombre_corto.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Marca:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.marca}}{{ form.marca.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Tipo de unidad:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.unidad}}{{ form.unidad.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Categoria de Stock:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.categoria}}{{ form.categoria.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Control de Stock:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.stock}}{{ form.stock.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Control de Inventario:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.activo_fijo}}{{ form.activo_fijo.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Control de Cantidad:</label>
                                        </div>                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            {{ form.control_cantidad}}{{ form.control_cantidad.errors }}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12">
                                <div class="col" style="float: left;">
                                    <button type="submit" class="btn btn-custon-rounded-four btn-primary">Guardar</button>
                                    <a class="btn btn-custon-rounded-four btn-default" href="{% url 'ItemList' %}">Volver</a>
                                </div> 
                                
                            </div>
                           
                            
                            
                            
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

                   

    
    


  


{% endblock page_content %}
{% block js %}



{% endblock js %}
