{% extends 'base/index.html' %}


{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Eliminar este Producto?</h4>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <form method="POST" class="needs-validation" novalidate="">
                                {% csrf_token %}

                                        <label for="validationCustom01">Descripción:</label>
                                        <!-- <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required=""> -->
                                        <div class="input-group">
                                            {{ obj.nombre_largo}}
                                        </div>
                                    
                                    
                                
                                    <div class="col" style="float: right;">
                                        <a href="{% url 'ItemList' %}" class="btn btn-custon-rounded-four btn-primary" >Cancelar</a>
                                        
                                        <button type="submit" class="btn btn-custon-rounded-four btn-info">Eliminar</button>
                                    
                                    </div>
                                

                            </form>
                        </div>    
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    

{% endblock page_content %}
{% block js %}



{% endblock js %}
