{% extends 'base/index.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"> Detalles del Producto </h4>
                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <th>Nombre Corto</th>
                                        <td>{{ object.nombre_corto }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre Largo</th>
                                        <td>{{ object.nombre_largo }}</td>
                                    </tr>
                                    <tr>
                                        <th>Marca</th>
                                        <td>{{ object.marca }}</td>
                                    </tr>
                                    
                                    <tr>
                                        <th>Unidad</th>
                                        <td>{{ object.unidad }}</td>
                                    </tr>
                                    <tr>
                                        <th>Tipo</th>
                                        <td>{% if object.servicio %} Servicio {% else %} Artículo {% endif %}</td>
                                    </tr>
                                    {% if not object.servicio %}
                                        <tr>
                                            <th>Mueve Stock</th>
                                            <td>{% if object.stock %} Si {% else %} No {% endif %}</td>
                                        </tr>
                                         <tr>
                                            <th>Stock Mínimo</th>
                                            <td>{{ object.stock_minimo }}</td>
                                        </tr>
                                    {% endif %}
                                    
                                    <tr>
                                        <th>Creado por</th>
                                        <td>{{ object.creado_por }}</td>
                                    </tr>
                                    <tr>
                                        <th>Creado el</th>
                                        <td>{{ object.creado_el }}</td>
                                    </tr>
                                    <tr>
                                        <th>Modificado por</th>
                                        <td>{{ object.modificado_por|default_if_none:" " }}</td>
                                    </tr>
                                    <tr>
                                        <th>Modificado el</th>
                                        <td>{{ object.modificado_el|default_if_none:" " }}</td>
                                    </tr>
                                </table>
                            
                            </div>   
                            <div class="col-md-12">
                                <div class="col" style="float: left;">
                                <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'ItemList' %}">Volver</a>
                            </div> 
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   

{% endblock page_content %}
{% block js %}



{% endblock js %}
