{% extends 'base/index.html' %}

{% load static %}


{% block extrahead %}
   
{% endblock %}

{% block page_content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


    <div class="main-content-inner">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Detalles Cuentas a pagar </h4>
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <th>Mes</th>
                                        <td>{{ object.mes }}</td>
                                    </tr>
                                    <tr>
                                        <th>Año</th>
                                        <td>{{ object.anho }}</td>
                                    </tr>
                                   
                                    <tr>
                                        <th>Creado por</th>
                                        <td>{{ object.creado_por }}</td>
                                    </tr>
                                    <tr>
                                        <th>Creado el</th>
                                        <td>{{ object.creado_el }}</td>
                                    </tr>
                                    
                                    
                                </table>
                                <h4 class="header-title">Datos de la solicitud </h4>
                                
                            </div>
                            <table id="table_id" class="table table-striped table-hover">

                                <thead class="thead-dark">
                                    <th>Orden de compra</th>
                                    <th>Fecha de Vencimiento</th>
                                    <th>Proveedor</th>
                                    <th>Factura Fisica</th>
                                    <th>Tipo de Factura</th>
                                    <th>N° de Solicitud</th>
                                    <th>N° Cuota </th>
                                    <th>Saldo</th>
                                    <th>total a Pagar</th>
                                </thead>
                                <tbody>
                                    {% for estado in detalles %}
                                        <tr class="">
                                            <td>{{ estado.orden.id }}</td>
                                            <td>{{ estado.fecha_vencimiento }}</td>
                                            <td>{{ estado.proveedor }}</td>
                                            <td>{{ estado.factura_fisica }} </td>
                                            <td>
                                                {% if estado.tipo_de_factura == 'C' %}
                                                    Contado
                                                {% else %}
                                                    Credito
                                                {% endif %}
                                            </td>
                                            <td>{{ estado.solicitud.id }}</td>
                                            <td>{{ estado.cuota }}</td>
                                            <td>{{ estado.saldo }}</td>
                                            <td>{{ estado.total }}</td>
        
        
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
        
                          

                            <div class="col" style="float: left;">
                                <a class="btn btn-custon-rounded-four btn-primary" href="{% url 'ListadodeCuentasApagar' %}">Volver</a>
                            </div> 
                                
                            
                            
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

                   

    
    


{% endblock page_content %}

